@use '../../../styles/siemens-ix/shadow-dom/component' as component;
@use '../../../styles/breakpoints' as breakpoints;

:host {
  @include component.inno-component;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  gap: 16px;
  margin: 24px 32px 24px 32px;
}

@media screen and (max-width: breakpoints.$desktop) {
  :host {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
