@use '@innomotics/ix/styles/colors';
@use '@innomotics/ix/styles/componentmixins';

:host {
  display: block;
  width: max-content;

  &.list-type {
    width: 100%
  }

  &.disabled,
  &:disabled {
    pointer-events: none;
    cursor: default;
  }

  button {
    height: 48px;
    min-height: 48px;
    max-height: 48px;
    min-width: 96px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: bold;
    margin-bottom: 12px;
    border: none;
    color: colors.$interaction-light-default;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    font-family: 'InnomoticsHafferSQ-Bold';
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.84, 0, 0.58, 1);

    &.list-type {
      justify-content: space-between;
      gap: unset;
      width: 100%;
    }

    &.display-reverse {
      flex-direction: row-reverse;
    }

    &.primary {
      &.dark {
        color: colors.$highlight-light-200;
        background-color: colors.$highlight-light-100;

        &:hover:not(.disabled):not(:disabled) {
          color: colors.$text-light-buttonlabel;
          box-shadow: inset 0 -48px colors.$interaction-light-hover;
        }

        &:active:not(.disabled):not(:disabled) {
          color: colors.$text-light-buttonlabel;
          box-shadow: inset 0 -48px colors.$interaction-light-pressed;
        }

        &:disabled,
        &.disabled {
          color: colors.$interaction-light-disabled;
          background-color: colors.$additional-light-200;
          pointer-events: none;
        }
      }

      &.light {
        color: colors.$highlight-dark-200;
        background-color: colors.$primary-100;

        &:hover:not(.disabled):not(:disabled) {
          box-shadow: inset 0 -48px colors.$secondary-300;
        }

        &:active:not(.disabled):not(:disabled) {
          box-shadow: inset 0 -48px colors.$additional-dark-300;
        }

        &:disabled,
        &.disabled {
          color: colors.$interaction-dark-disabled;
          background-color: colors.$additional-dark-200;
          pointer-events: none;
        }
      }
    }

    &.secondary {
      background-color: transparent;

      &.dark {
        border: 2px solid colors.$interaction-light-default;
        color: colors.$interaction-light-default;

        &:hover:not(.disabled):not(:disabled) {
          border-color: colors.$interaction-light-hover;
          color: colors.$text-light-buttonlabel;
          box-shadow: inset 0 -48px colors.$interaction-light-hover;
        }

        &:active:not(.disabled):not(:disabled) {
          border-color: colors.$additional-light-400;
          color: colors.$text-light-buttonlabel;
          box-shadow: inset 0 -48px colors.$additional-light-400;
        }
      }

      &.light {
        color: colors.$interaction-dark-default;
        border: 2px solid colors.$interaction-dark-default;

        &:hover:not(.disabled):not(:disabled) {
          border-color: colors.$interaction-dark-hover;
          color: colors.$text-dark-buttonlabel;
          box-shadow: inset 0 -48px colors.$interaction-dark-hover;
        }

        &:active:not(.disabled):not(:disabled) {
          border-color: colors.$interaction-dark-pressed;
          color: colors.$text-dark-buttonlabel;
          box-shadow: inset 0 -48px colors.$interaction-dark-pressed;
        }
      }

      &:disabled,
      &.disabled {
        color: colors.$interaction-dark-disabled;
        border: 2px solid colors.$interaction-dark-disabled;
        pointer-events: none;
      }
    }

    &.tertiary {
      padding: 0;
      box-shadow: 0px -5px colors.$interaction-light-default inset;
      background-color: transparent;

      &.icon-only {
        border: none !important;
      }

      &.dark {
        color: colors.$interaction-light-default;
        box-shadow: 0px -5px colors.$interaction-light-default inset;

        &:hover:not(.disabled):not(:disabled) {
          color: colors.$interaction-light-hover;
          box-shadow: 0 -8px colors.$interaction-light-hover inset;
        }

        &:active:not(.disabled):not(:disabled) {
          color: colors.$interaction-light-pressed;
          border-color: colors.$interaction-light-pressed;
          box-shadow: 0 -8px colors.$interaction-light-pressed inset;
        }
      }

      &.light {
        color: colors.$text-light-buttonlabel;
        border-color: colors.$primary-300;
        box-shadow: inset 0 -5px colors.$primary-300;

        &:hover:not(.disabled):not(:disabled) {
          color: colors.$interaction-dark-hover;
          box-shadow: inset 0 -8px colors.$interaction-dark-hover;
        }

        &:active:not(.disabled):not(:disabled) {
          color: colors.$interaction-dark-pressed;
          border-color: colors.$interaction-dark-pressed;
          box-shadow: inset 0 -8px colors.$interaction-dark-pressed;
        }
      }

      &:disabled,
      &.disabled {
        color: colors.$interaction-light-disabled;
        border-color: colors.$interaction-light-disabled;
        box-shadow: inset 0 -5px colors.$interaction-light-disabled;
        pointer-events: none;
      }
    }

    &:focus:not(.disabled):not(:disabled) {
      @include componentmixins.focus;
    }

    &.media {
      min-height: 80px;
      max-height: 80px;
      min-width: 80px;
      max-width: 80px;
      border-radius: 50%;
      padding: 0;
      background-color: colors.$background-light-200;
      box-shadow: 0px 4px 20px 0px rgba(colors.$primary-200, 0.33);
      color: colors.$primary-200;

      &:hover:not(.disabled):not(:disabled) {
        color: colors.$interaction-light-hover;
      }

      &:active:not(.disabled):not(:disabled) {
        color: colors.$interaction-light-pressed;
      }

      &:disabled,
      &.disabled {
        pointer-events: none;
        color: colors.$interaction-light-disabled;
      }
    }

    &.navigation {
      min-height: 32px;
      max-height: 32px;
      min-width: 32px;
      max-width: 32px;
      padding: 0;
      background-color: colors.$background-light-200;
      box-shadow: 0px 4px 20px 0px rgba(colors.$primary-200, 0.33);

      &:hover:not(.disabled):not(:disabled) {
        color: colors.$interaction-light-default;
      }

      &:active:not(.disabled):not(:disabled) {
        color: colors.$interaction-light-pressed;
      }

      &:disabled,
      &.disabled {
        pointer-events: none;
        color: colors.$interaction-light-disabled;
      }
    }

    &.icon-only {
      padding: 0;
      min-width: 48px;
      max-width: 48px;
    }
  }
}