@use '@innomotics/brand-experience/styles/colors';
@use '@innomotics/brand-experience/styles/componentmixins';

:host {
  cursor: pointer;

  .icon-driven {
    span {
      display: contents;
    }
  }

  &:focus-visible {
    @include componentmixins.focus;
  }

  &.light {
    &:hover:not(.disabled):not(:disabled) {
      border: 1px solid colors.$interaction-light-hover;
      box-shadow: inset 0px 0px 0px 1px colors.$interaction-light-hover;
    }

    .select-header {
      inno-icon {
        color: colors.$primary-200;
      }
    }

    .icon-driven:not(inno-select-item) {
      color: colors.$primary-200;
    }
  }

  &.dark {
    &:hover:not(.disabled):not(:disabled) {
      border: 1px solid colors.$highlight-dark-100;
      box-shadow: inset 0px 0px 0px 1px colors.$highlight-dark-100;
    }

    .select-header {
      inno-icon {
        color: colors.$primary-300;
      }
    }

    .icon-driven:not(inno-select-item) {
      color: colors.$primary-300;
    }
  }

  &.input-container {
    display: flex;
    flex-direction: column;
    border: 1px solid colors.$additional-light-300;
    margin: 5px 5px 8px 5px;
    height: 56px;
    max-height: 56px;
    min-height: 56px;

    .select-header {
      padding: 0px 16px 0px 16px;
      box-sizing: border-box;
      height: 56px;
      height: 56px;
      max-height: 56px;
      min-height: 56px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .content {
        display: flex;

        &.filled {
          flex-direction: column;
        }

        .label {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &.light {
            color: colors.$secondary-800;

            &.disabled {
              color: colors.$text-light-lowemphasis;
            }
          }

          &.dark {
            color: colors.$text-dark-lowemphasis;

            &.disabled {
              color: colors.$text-dark-lowemphasis;
            }
          }
        }

        .float {
          transform: translate(0rem, -0.3rem) scale(1);
          font-size: 12px;
        }

        .label-value {
          font-size: 16px;
          font-weight: 400;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &.light {
            color: colors.$primary-200;

            &.disabled {
              color: colors.$text-light-lowemphasis;
            }
          }

          &.dark {
            color: colors.$primary-300;

            &.disabled {
              color: colors.$text-dark-lowemphasis;
            }
          }
        }
      }
    }

    &.dark {
      background-color: colors.$background-dark-200;

      &.disabled {
        background-image: linear-gradient(colors.$transparency-dark-100, colors.$transparency-dark-100)
      }
    }

    &.light {
      background-color: colors.$primary-300;

      &.disabled {
        background-color: rgb(colors.$primary-200, 0.2);
      }
    }
  }

  .select-wrapper {
    position: relative;

    .items {
      z-index: 2;
      display: none;
      position: fixed;
      max-height: 500px;
      overflow-y: auto;

      &.opened {
        display: block;
      }
    }

    .select-item.icon-driven {
      .icon-driven-label {
        font-size: 16px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &.disabled {
    border: 1px solid transparent;
    background-color: colors.$transparency-dark-100;
    pointer-events: none;

    inno-icon.chevron {
      display: none;
    }
  }
}