node_modules/
dist/
.npmrc
package-lock.json
lerna-debug.log
packages/icon-lib/downloadoutput/
packages/webdocs/static/svg/
packages/stencil-lib/cjs/
packages/stencil-lib/collection/
packages/stencil-lib/components/
packages/stencil-lib/esm/
packages/stencil-lib/innomotics-brand-experience/
packages/stencil-lib/types/
packages/stencil-lib/utils/

