node_modules/
dist/
.npmrc
package-lock.json
lerna-debug.log

packages/icon-lib/*.md
packages/angular-lib/lib/stencil-generated/
packages/react-lib/lib/components/stencil-generated/
packages/vue-lib/lib/components.ts
packages/webdocs/static/svg/
packages/stencil-lib/cjs/
packages/stencil-lib/collection/
packages/stencil-lib/components/
packages/stencil-lib/esm/
packages/stencil-lib/innomotics-brand-experience/
packages/stencil-lib/types/
packages/stencil-lib/utils/
packages/icon-lib/inno-icons.ts
