*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "InnomoticsHafferSQ";
  font-weight: normal;
  font-style: normal;
}

.be-main-grid {
  display: grid;
  grid-template-columns: repeat(36, 1fr);
}
@media screen and (min-width: 1440px) {
  .be-main-grid {
    grid-template-columns: repeat(2, 1fr) repeat(32, 40px) repeat(2, 1fr);
  }
}
.be-main-grid.subgrid {
  display: grid;
  grid-template-columns: repeat(36, 1fr);
}
.be-main-grid .be-content-grid {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-column: 3/35;
}
.be-main-grid .be-columns-1-1 {
  grid-column: 1/1;
}
.be-main-grid .be-columns-1-2 {
  grid-column: 1/2;
}
.be-main-grid .be-columns-1-3 {
  grid-column: 1/3;
}
.be-main-grid .be-columns-1-4 {
  grid-column: 1/4;
}
.be-main-grid .be-columns-1-5 {
  grid-column: 1/5;
}
.be-main-grid .be-columns-1-6 {
  grid-column: 1/6;
}
.be-main-grid .be-columns-1-7 {
  grid-column: 1/7;
}
.be-main-grid .be-columns-1-8 {
  grid-column: 1/8;
}
.be-main-grid .be-columns-1-9 {
  grid-column: 1/9;
}
.be-main-grid .be-columns-1-10 {
  grid-column: 1/10;
}
.be-main-grid .be-columns-1-11 {
  grid-column: 1/11;
}
.be-main-grid .be-columns-1-12 {
  grid-column: 1/12;
}
.be-main-grid .be-columns-1-13 {
  grid-column: 1/13;
}
.be-main-grid .be-columns-1-14 {
  grid-column: 1/14;
}
.be-main-grid .be-columns-1-15 {
  grid-column: 1/15;
}
.be-main-grid .be-columns-1-16 {
  grid-column: 1/16;
}
.be-main-grid .be-columns-1-17 {
  grid-column: 1/17;
}
.be-main-grid .be-columns-1-18 {
  grid-column: 1/18;
}
.be-main-grid .be-columns-1-19 {
  grid-column: 1/19;
}
.be-main-grid .be-columns-1-20 {
  grid-column: 1/20;
}
.be-main-grid .be-columns-1-21 {
  grid-column: 1/21;
}
.be-main-grid .be-columns-1-22 {
  grid-column: 1/22;
}
.be-main-grid .be-columns-1-23 {
  grid-column: 1/23;
}
.be-main-grid .be-columns-1-24 {
  grid-column: 1/24;
}
.be-main-grid .be-columns-1-25 {
  grid-column: 1/25;
}
.be-main-grid .be-columns-1-26 {
  grid-column: 1/26;
}
.be-main-grid .be-columns-1-27 {
  grid-column: 1/27;
}
.be-main-grid .be-columns-1-28 {
  grid-column: 1/28;
}
.be-main-grid .be-columns-1-29 {
  grid-column: 1/29;
}
.be-main-grid .be-columns-1-30 {
  grid-column: 1/30;
}
.be-main-grid .be-columns-1-31 {
  grid-column: 1/31;
}
.be-main-grid .be-columns-1-32 {
  grid-column: 1/32;
}
.be-main-grid .be-columns-1-33 {
  grid-column: 1/33;
}
.be-main-grid .be-columns-1-34 {
  grid-column: 1/34;
}
.be-main-grid .be-columns-1-35 {
  grid-column: 1/35;
}
.be-main-grid .be-columns-1-36 {
  grid-column: 1/36;
}
.be-main-grid .be-columns-1-37 {
  grid-column: 1/37;
}
.be-main-grid .be-columns-2-2 {
  grid-column: 2/2;
}
.be-main-grid .be-columns-2-3 {
  grid-column: 2/3;
}
.be-main-grid .be-columns-2-4 {
  grid-column: 2/4;
}
.be-main-grid .be-columns-2-5 {
  grid-column: 2/5;
}
.be-main-grid .be-columns-2-6 {
  grid-column: 2/6;
}
.be-main-grid .be-columns-2-7 {
  grid-column: 2/7;
}
.be-main-grid .be-columns-2-8 {
  grid-column: 2/8;
}
.be-main-grid .be-columns-2-9 {
  grid-column: 2/9;
}
.be-main-grid .be-columns-2-10 {
  grid-column: 2/10;
}
.be-main-grid .be-columns-2-11 {
  grid-column: 2/11;
}
.be-main-grid .be-columns-2-12 {
  grid-column: 2/12;
}
.be-main-grid .be-columns-2-13 {
  grid-column: 2/13;
}
.be-main-grid .be-columns-2-14 {
  grid-column: 2/14;
}
.be-main-grid .be-columns-2-15 {
  grid-column: 2/15;
}
.be-main-grid .be-columns-2-16 {
  grid-column: 2/16;
}
.be-main-grid .be-columns-2-17 {
  grid-column: 2/17;
}
.be-main-grid .be-columns-2-18 {
  grid-column: 2/18;
}
.be-main-grid .be-columns-2-19 {
  grid-column: 2/19;
}
.be-main-grid .be-columns-2-20 {
  grid-column: 2/20;
}
.be-main-grid .be-columns-2-21 {
  grid-column: 2/21;
}
.be-main-grid .be-columns-2-22 {
  grid-column: 2/22;
}
.be-main-grid .be-columns-2-23 {
  grid-column: 2/23;
}
.be-main-grid .be-columns-2-24 {
  grid-column: 2/24;
}
.be-main-grid .be-columns-2-25 {
  grid-column: 2/25;
}
.be-main-grid .be-columns-2-26 {
  grid-column: 2/26;
}
.be-main-grid .be-columns-2-27 {
  grid-column: 2/27;
}
.be-main-grid .be-columns-2-28 {
  grid-column: 2/28;
}
.be-main-grid .be-columns-2-29 {
  grid-column: 2/29;
}
.be-main-grid .be-columns-2-30 {
  grid-column: 2/30;
}
.be-main-grid .be-columns-2-31 {
  grid-column: 2/31;
}
.be-main-grid .be-columns-2-32 {
  grid-column: 2/32;
}
.be-main-grid .be-columns-2-33 {
  grid-column: 2/33;
}
.be-main-grid .be-columns-2-34 {
  grid-column: 2/34;
}
.be-main-grid .be-columns-2-35 {
  grid-column: 2/35;
}
.be-main-grid .be-columns-2-36 {
  grid-column: 2/36;
}
.be-main-grid .be-columns-2-37 {
  grid-column: 2/37;
}
.be-main-grid .be-columns-3-3 {
  grid-column: 3/3;
}
.be-main-grid .be-columns-3-4 {
  grid-column: 3/4;
}
.be-main-grid .be-columns-3-5 {
  grid-column: 3/5;
}
.be-main-grid .be-columns-3-6 {
  grid-column: 3/6;
}
.be-main-grid .be-columns-3-7 {
  grid-column: 3/7;
}
.be-main-grid .be-columns-3-8 {
  grid-column: 3/8;
}
.be-main-grid .be-columns-3-9 {
  grid-column: 3/9;
}
.be-main-grid .be-columns-3-10 {
  grid-column: 3/10;
}
.be-main-grid .be-columns-3-11 {
  grid-column: 3/11;
}
.be-main-grid .be-columns-3-12 {
  grid-column: 3/12;
}
.be-main-grid .be-columns-3-13 {
  grid-column: 3/13;
}
.be-main-grid .be-columns-3-14 {
  grid-column: 3/14;
}
.be-main-grid .be-columns-3-15 {
  grid-column: 3/15;
}
.be-main-grid .be-columns-3-16 {
  grid-column: 3/16;
}
.be-main-grid .be-columns-3-17 {
  grid-column: 3/17;
}
.be-main-grid .be-columns-3-18 {
  grid-column: 3/18;
}
.be-main-grid .be-columns-3-19 {
  grid-column: 3/19;
}
.be-main-grid .be-columns-3-20 {
  grid-column: 3/20;
}
.be-main-grid .be-columns-3-21 {
  grid-column: 3/21;
}
.be-main-grid .be-columns-3-22 {
  grid-column: 3/22;
}
.be-main-grid .be-columns-3-23 {
  grid-column: 3/23;
}
.be-main-grid .be-columns-3-24 {
  grid-column: 3/24;
}
.be-main-grid .be-columns-3-25 {
  grid-column: 3/25;
}
.be-main-grid .be-columns-3-26 {
  grid-column: 3/26;
}
.be-main-grid .be-columns-3-27 {
  grid-column: 3/27;
}
.be-main-grid .be-columns-3-28 {
  grid-column: 3/28;
}
.be-main-grid .be-columns-3-29 {
  grid-column: 3/29;
}
.be-main-grid .be-columns-3-30 {
  grid-column: 3/30;
}
.be-main-grid .be-columns-3-31 {
  grid-column: 3/31;
}
.be-main-grid .be-columns-3-32 {
  grid-column: 3/32;
}
.be-main-grid .be-columns-3-33 {
  grid-column: 3/33;
}
.be-main-grid .be-columns-3-34 {
  grid-column: 3/34;
}
.be-main-grid .be-columns-3-35 {
  grid-column: 3/35;
}
.be-main-grid .be-columns-3-36 {
  grid-column: 3/36;
}
.be-main-grid .be-columns-3-37 {
  grid-column: 3/37;
}
.be-main-grid .be-columns-4-4 {
  grid-column: 4/4;
}
.be-main-grid .be-columns-4-5 {
  grid-column: 4/5;
}
.be-main-grid .be-columns-4-6 {
  grid-column: 4/6;
}
.be-main-grid .be-columns-4-7 {
  grid-column: 4/7;
}
.be-main-grid .be-columns-4-8 {
  grid-column: 4/8;
}
.be-main-grid .be-columns-4-9 {
  grid-column: 4/9;
}
.be-main-grid .be-columns-4-10 {
  grid-column: 4/10;
}
.be-main-grid .be-columns-4-11 {
  grid-column: 4/11;
}
.be-main-grid .be-columns-4-12 {
  grid-column: 4/12;
}
.be-main-grid .be-columns-4-13 {
  grid-column: 4/13;
}
.be-main-grid .be-columns-4-14 {
  grid-column: 4/14;
}
.be-main-grid .be-columns-4-15 {
  grid-column: 4/15;
}
.be-main-grid .be-columns-4-16 {
  grid-column: 4/16;
}
.be-main-grid .be-columns-4-17 {
  grid-column: 4/17;
}
.be-main-grid .be-columns-4-18 {
  grid-column: 4/18;
}
.be-main-grid .be-columns-4-19 {
  grid-column: 4/19;
}
.be-main-grid .be-columns-4-20 {
  grid-column: 4/20;
}
.be-main-grid .be-columns-4-21 {
  grid-column: 4/21;
}
.be-main-grid .be-columns-4-22 {
  grid-column: 4/22;
}
.be-main-grid .be-columns-4-23 {
  grid-column: 4/23;
}
.be-main-grid .be-columns-4-24 {
  grid-column: 4/24;
}
.be-main-grid .be-columns-4-25 {
  grid-column: 4/25;
}
.be-main-grid .be-columns-4-26 {
  grid-column: 4/26;
}
.be-main-grid .be-columns-4-27 {
  grid-column: 4/27;
}
.be-main-grid .be-columns-4-28 {
  grid-column: 4/28;
}
.be-main-grid .be-columns-4-29 {
  grid-column: 4/29;
}
.be-main-grid .be-columns-4-30 {
  grid-column: 4/30;
}
.be-main-grid .be-columns-4-31 {
  grid-column: 4/31;
}
.be-main-grid .be-columns-4-32 {
  grid-column: 4/32;
}
.be-main-grid .be-columns-4-33 {
  grid-column: 4/33;
}
.be-main-grid .be-columns-4-34 {
  grid-column: 4/34;
}
.be-main-grid .be-columns-4-35 {
  grid-column: 4/35;
}
.be-main-grid .be-columns-4-36 {
  grid-column: 4/36;
}
.be-main-grid .be-columns-4-37 {
  grid-column: 4/37;
}
.be-main-grid .be-columns-5-5 {
  grid-column: 5/5;
}
.be-main-grid .be-columns-5-6 {
  grid-column: 5/6;
}
.be-main-grid .be-columns-5-7 {
  grid-column: 5/7;
}
.be-main-grid .be-columns-5-8 {
  grid-column: 5/8;
}
.be-main-grid .be-columns-5-9 {
  grid-column: 5/9;
}
.be-main-grid .be-columns-5-10 {
  grid-column: 5/10;
}
.be-main-grid .be-columns-5-11 {
  grid-column: 5/11;
}
.be-main-grid .be-columns-5-12 {
  grid-column: 5/12;
}
.be-main-grid .be-columns-5-13 {
  grid-column: 5/13;
}
.be-main-grid .be-columns-5-14 {
  grid-column: 5/14;
}
.be-main-grid .be-columns-5-15 {
  grid-column: 5/15;
}
.be-main-grid .be-columns-5-16 {
  grid-column: 5/16;
}
.be-main-grid .be-columns-5-17 {
  grid-column: 5/17;
}
.be-main-grid .be-columns-5-18 {
  grid-column: 5/18;
}
.be-main-grid .be-columns-5-19 {
  grid-column: 5/19;
}
.be-main-grid .be-columns-5-20 {
  grid-column: 5/20;
}
.be-main-grid .be-columns-5-21 {
  grid-column: 5/21;
}
.be-main-grid .be-columns-5-22 {
  grid-column: 5/22;
}
.be-main-grid .be-columns-5-23 {
  grid-column: 5/23;
}
.be-main-grid .be-columns-5-24 {
  grid-column: 5/24;
}
.be-main-grid .be-columns-5-25 {
  grid-column: 5/25;
}
.be-main-grid .be-columns-5-26 {
  grid-column: 5/26;
}
.be-main-grid .be-columns-5-27 {
  grid-column: 5/27;
}
.be-main-grid .be-columns-5-28 {
  grid-column: 5/28;
}
.be-main-grid .be-columns-5-29 {
  grid-column: 5/29;
}
.be-main-grid .be-columns-5-30 {
  grid-column: 5/30;
}
.be-main-grid .be-columns-5-31 {
  grid-column: 5/31;
}
.be-main-grid .be-columns-5-32 {
  grid-column: 5/32;
}
.be-main-grid .be-columns-5-33 {
  grid-column: 5/33;
}
.be-main-grid .be-columns-5-34 {
  grid-column: 5/34;
}
.be-main-grid .be-columns-5-35 {
  grid-column: 5/35;
}
.be-main-grid .be-columns-5-36 {
  grid-column: 5/36;
}
.be-main-grid .be-columns-5-37 {
  grid-column: 5/37;
}
.be-main-grid .be-columns-6-6 {
  grid-column: 6/6;
}
.be-main-grid .be-columns-6-7 {
  grid-column: 6/7;
}
.be-main-grid .be-columns-6-8 {
  grid-column: 6/8;
}
.be-main-grid .be-columns-6-9 {
  grid-column: 6/9;
}
.be-main-grid .be-columns-6-10 {
  grid-column: 6/10;
}
.be-main-grid .be-columns-6-11 {
  grid-column: 6/11;
}
.be-main-grid .be-columns-6-12 {
  grid-column: 6/12;
}
.be-main-grid .be-columns-6-13 {
  grid-column: 6/13;
}
.be-main-grid .be-columns-6-14 {
  grid-column: 6/14;
}
.be-main-grid .be-columns-6-15 {
  grid-column: 6/15;
}
.be-main-grid .be-columns-6-16 {
  grid-column: 6/16;
}
.be-main-grid .be-columns-6-17 {
  grid-column: 6/17;
}
.be-main-grid .be-columns-6-18 {
  grid-column: 6/18;
}
.be-main-grid .be-columns-6-19 {
  grid-column: 6/19;
}
.be-main-grid .be-columns-6-20 {
  grid-column: 6/20;
}
.be-main-grid .be-columns-6-21 {
  grid-column: 6/21;
}
.be-main-grid .be-columns-6-22 {
  grid-column: 6/22;
}
.be-main-grid .be-columns-6-23 {
  grid-column: 6/23;
}
.be-main-grid .be-columns-6-24 {
  grid-column: 6/24;
}
.be-main-grid .be-columns-6-25 {
  grid-column: 6/25;
}
.be-main-grid .be-columns-6-26 {
  grid-column: 6/26;
}
.be-main-grid .be-columns-6-27 {
  grid-column: 6/27;
}
.be-main-grid .be-columns-6-28 {
  grid-column: 6/28;
}
.be-main-grid .be-columns-6-29 {
  grid-column: 6/29;
}
.be-main-grid .be-columns-6-30 {
  grid-column: 6/30;
}
.be-main-grid .be-columns-6-31 {
  grid-column: 6/31;
}
.be-main-grid .be-columns-6-32 {
  grid-column: 6/32;
}
.be-main-grid .be-columns-6-33 {
  grid-column: 6/33;
}
.be-main-grid .be-columns-6-34 {
  grid-column: 6/34;
}
.be-main-grid .be-columns-6-35 {
  grid-column: 6/35;
}
.be-main-grid .be-columns-6-36 {
  grid-column: 6/36;
}
.be-main-grid .be-columns-6-37 {
  grid-column: 6/37;
}
.be-main-grid .be-columns-7-7 {
  grid-column: 7/7;
}
.be-main-grid .be-columns-7-8 {
  grid-column: 7/8;
}
.be-main-grid .be-columns-7-9 {
  grid-column: 7/9;
}
.be-main-grid .be-columns-7-10 {
  grid-column: 7/10;
}
.be-main-grid .be-columns-7-11 {
  grid-column: 7/11;
}
.be-main-grid .be-columns-7-12 {
  grid-column: 7/12;
}
.be-main-grid .be-columns-7-13 {
  grid-column: 7/13;
}
.be-main-grid .be-columns-7-14 {
  grid-column: 7/14;
}
.be-main-grid .be-columns-7-15 {
  grid-column: 7/15;
}
.be-main-grid .be-columns-7-16 {
  grid-column: 7/16;
}
.be-main-grid .be-columns-7-17 {
  grid-column: 7/17;
}
.be-main-grid .be-columns-7-18 {
  grid-column: 7/18;
}
.be-main-grid .be-columns-7-19 {
  grid-column: 7/19;
}
.be-main-grid .be-columns-7-20 {
  grid-column: 7/20;
}
.be-main-grid .be-columns-7-21 {
  grid-column: 7/21;
}
.be-main-grid .be-columns-7-22 {
  grid-column: 7/22;
}
.be-main-grid .be-columns-7-23 {
  grid-column: 7/23;
}
.be-main-grid .be-columns-7-24 {
  grid-column: 7/24;
}
.be-main-grid .be-columns-7-25 {
  grid-column: 7/25;
}
.be-main-grid .be-columns-7-26 {
  grid-column: 7/26;
}
.be-main-grid .be-columns-7-27 {
  grid-column: 7/27;
}
.be-main-grid .be-columns-7-28 {
  grid-column: 7/28;
}
.be-main-grid .be-columns-7-29 {
  grid-column: 7/29;
}
.be-main-grid .be-columns-7-30 {
  grid-column: 7/30;
}
.be-main-grid .be-columns-7-31 {
  grid-column: 7/31;
}
.be-main-grid .be-columns-7-32 {
  grid-column: 7/32;
}
.be-main-grid .be-columns-7-33 {
  grid-column: 7/33;
}
.be-main-grid .be-columns-7-34 {
  grid-column: 7/34;
}
.be-main-grid .be-columns-7-35 {
  grid-column: 7/35;
}
.be-main-grid .be-columns-7-36 {
  grid-column: 7/36;
}
.be-main-grid .be-columns-7-37 {
  grid-column: 7/37;
}
.be-main-grid .be-columns-8-8 {
  grid-column: 8/8;
}
.be-main-grid .be-columns-8-9 {
  grid-column: 8/9;
}
.be-main-grid .be-columns-8-10 {
  grid-column: 8/10;
}
.be-main-grid .be-columns-8-11 {
  grid-column: 8/11;
}
.be-main-grid .be-columns-8-12 {
  grid-column: 8/12;
}
.be-main-grid .be-columns-8-13 {
  grid-column: 8/13;
}
.be-main-grid .be-columns-8-14 {
  grid-column: 8/14;
}
.be-main-grid .be-columns-8-15 {
  grid-column: 8/15;
}
.be-main-grid .be-columns-8-16 {
  grid-column: 8/16;
}
.be-main-grid .be-columns-8-17 {
  grid-column: 8/17;
}
.be-main-grid .be-columns-8-18 {
  grid-column: 8/18;
}
.be-main-grid .be-columns-8-19 {
  grid-column: 8/19;
}
.be-main-grid .be-columns-8-20 {
  grid-column: 8/20;
}
.be-main-grid .be-columns-8-21 {
  grid-column: 8/21;
}
.be-main-grid .be-columns-8-22 {
  grid-column: 8/22;
}
.be-main-grid .be-columns-8-23 {
  grid-column: 8/23;
}
.be-main-grid .be-columns-8-24 {
  grid-column: 8/24;
}
.be-main-grid .be-columns-8-25 {
  grid-column: 8/25;
}
.be-main-grid .be-columns-8-26 {
  grid-column: 8/26;
}
.be-main-grid .be-columns-8-27 {
  grid-column: 8/27;
}
.be-main-grid .be-columns-8-28 {
  grid-column: 8/28;
}
.be-main-grid .be-columns-8-29 {
  grid-column: 8/29;
}
.be-main-grid .be-columns-8-30 {
  grid-column: 8/30;
}
.be-main-grid .be-columns-8-31 {
  grid-column: 8/31;
}
.be-main-grid .be-columns-8-32 {
  grid-column: 8/32;
}
.be-main-grid .be-columns-8-33 {
  grid-column: 8/33;
}
.be-main-grid .be-columns-8-34 {
  grid-column: 8/34;
}
.be-main-grid .be-columns-8-35 {
  grid-column: 8/35;
}
.be-main-grid .be-columns-8-36 {
  grid-column: 8/36;
}
.be-main-grid .be-columns-8-37 {
  grid-column: 8/37;
}
.be-main-grid .be-columns-9-9 {
  grid-column: 9/9;
}
.be-main-grid .be-columns-9-10 {
  grid-column: 9/10;
}
.be-main-grid .be-columns-9-11 {
  grid-column: 9/11;
}
.be-main-grid .be-columns-9-12 {
  grid-column: 9/12;
}
.be-main-grid .be-columns-9-13 {
  grid-column: 9/13;
}
.be-main-grid .be-columns-9-14 {
  grid-column: 9/14;
}
.be-main-grid .be-columns-9-15 {
  grid-column: 9/15;
}
.be-main-grid .be-columns-9-16 {
  grid-column: 9/16;
}
.be-main-grid .be-columns-9-17 {
  grid-column: 9/17;
}
.be-main-grid .be-columns-9-18 {
  grid-column: 9/18;
}
.be-main-grid .be-columns-9-19 {
  grid-column: 9/19;
}
.be-main-grid .be-columns-9-20 {
  grid-column: 9/20;
}
.be-main-grid .be-columns-9-21 {
  grid-column: 9/21;
}
.be-main-grid .be-columns-9-22 {
  grid-column: 9/22;
}
.be-main-grid .be-columns-9-23 {
  grid-column: 9/23;
}
.be-main-grid .be-columns-9-24 {
  grid-column: 9/24;
}
.be-main-grid .be-columns-9-25 {
  grid-column: 9/25;
}
.be-main-grid .be-columns-9-26 {
  grid-column: 9/26;
}
.be-main-grid .be-columns-9-27 {
  grid-column: 9/27;
}
.be-main-grid .be-columns-9-28 {
  grid-column: 9/28;
}
.be-main-grid .be-columns-9-29 {
  grid-column: 9/29;
}
.be-main-grid .be-columns-9-30 {
  grid-column: 9/30;
}
.be-main-grid .be-columns-9-31 {
  grid-column: 9/31;
}
.be-main-grid .be-columns-9-32 {
  grid-column: 9/32;
}
.be-main-grid .be-columns-9-33 {
  grid-column: 9/33;
}
.be-main-grid .be-columns-9-34 {
  grid-column: 9/34;
}
.be-main-grid .be-columns-9-35 {
  grid-column: 9/35;
}
.be-main-grid .be-columns-9-36 {
  grid-column: 9/36;
}
.be-main-grid .be-columns-9-37 {
  grid-column: 9/37;
}
.be-main-grid .be-columns-10-10 {
  grid-column: 10/10;
}
.be-main-grid .be-columns-10-11 {
  grid-column: 10/11;
}
.be-main-grid .be-columns-10-12 {
  grid-column: 10/12;
}
.be-main-grid .be-columns-10-13 {
  grid-column: 10/13;
}
.be-main-grid .be-columns-10-14 {
  grid-column: 10/14;
}
.be-main-grid .be-columns-10-15 {
  grid-column: 10/15;
}
.be-main-grid .be-columns-10-16 {
  grid-column: 10/16;
}
.be-main-grid .be-columns-10-17 {
  grid-column: 10/17;
}
.be-main-grid .be-columns-10-18 {
  grid-column: 10/18;
}
.be-main-grid .be-columns-10-19 {
  grid-column: 10/19;
}
.be-main-grid .be-columns-10-20 {
  grid-column: 10/20;
}
.be-main-grid .be-columns-10-21 {
  grid-column: 10/21;
}
.be-main-grid .be-columns-10-22 {
  grid-column: 10/22;
}
.be-main-grid .be-columns-10-23 {
  grid-column: 10/23;
}
.be-main-grid .be-columns-10-24 {
  grid-column: 10/24;
}
.be-main-grid .be-columns-10-25 {
  grid-column: 10/25;
}
.be-main-grid .be-columns-10-26 {
  grid-column: 10/26;
}
.be-main-grid .be-columns-10-27 {
  grid-column: 10/27;
}
.be-main-grid .be-columns-10-28 {
  grid-column: 10/28;
}
.be-main-grid .be-columns-10-29 {
  grid-column: 10/29;
}
.be-main-grid .be-columns-10-30 {
  grid-column: 10/30;
}
.be-main-grid .be-columns-10-31 {
  grid-column: 10/31;
}
.be-main-grid .be-columns-10-32 {
  grid-column: 10/32;
}
.be-main-grid .be-columns-10-33 {
  grid-column: 10/33;
}
.be-main-grid .be-columns-10-34 {
  grid-column: 10/34;
}
.be-main-grid .be-columns-10-35 {
  grid-column: 10/35;
}
.be-main-grid .be-columns-10-36 {
  grid-column: 10/36;
}
.be-main-grid .be-columns-10-37 {
  grid-column: 10/37;
}
.be-main-grid .be-columns-11-11 {
  grid-column: 11/11;
}
.be-main-grid .be-columns-11-12 {
  grid-column: 11/12;
}
.be-main-grid .be-columns-11-13 {
  grid-column: 11/13;
}
.be-main-grid .be-columns-11-14 {
  grid-column: 11/14;
}
.be-main-grid .be-columns-11-15 {
  grid-column: 11/15;
}
.be-main-grid .be-columns-11-16 {
  grid-column: 11/16;
}
.be-main-grid .be-columns-11-17 {
  grid-column: 11/17;
}
.be-main-grid .be-columns-11-18 {
  grid-column: 11/18;
}
.be-main-grid .be-columns-11-19 {
  grid-column: 11/19;
}
.be-main-grid .be-columns-11-20 {
  grid-column: 11/20;
}
.be-main-grid .be-columns-11-21 {
  grid-column: 11/21;
}
.be-main-grid .be-columns-11-22 {
  grid-column: 11/22;
}
.be-main-grid .be-columns-11-23 {
  grid-column: 11/23;
}
.be-main-grid .be-columns-11-24 {
  grid-column: 11/24;
}
.be-main-grid .be-columns-11-25 {
  grid-column: 11/25;
}
.be-main-grid .be-columns-11-26 {
  grid-column: 11/26;
}
.be-main-grid .be-columns-11-27 {
  grid-column: 11/27;
}
.be-main-grid .be-columns-11-28 {
  grid-column: 11/28;
}
.be-main-grid .be-columns-11-29 {
  grid-column: 11/29;
}
.be-main-grid .be-columns-11-30 {
  grid-column: 11/30;
}
.be-main-grid .be-columns-11-31 {
  grid-column: 11/31;
}
.be-main-grid .be-columns-11-32 {
  grid-column: 11/32;
}
.be-main-grid .be-columns-11-33 {
  grid-column: 11/33;
}
.be-main-grid .be-columns-11-34 {
  grid-column: 11/34;
}
.be-main-grid .be-columns-11-35 {
  grid-column: 11/35;
}
.be-main-grid .be-columns-11-36 {
  grid-column: 11/36;
}
.be-main-grid .be-columns-11-37 {
  grid-column: 11/37;
}
.be-main-grid .be-columns-12-12 {
  grid-column: 12/12;
}
.be-main-grid .be-columns-12-13 {
  grid-column: 12/13;
}
.be-main-grid .be-columns-12-14 {
  grid-column: 12/14;
}
.be-main-grid .be-columns-12-15 {
  grid-column: 12/15;
}
.be-main-grid .be-columns-12-16 {
  grid-column: 12/16;
}
.be-main-grid .be-columns-12-17 {
  grid-column: 12/17;
}
.be-main-grid .be-columns-12-18 {
  grid-column: 12/18;
}
.be-main-grid .be-columns-12-19 {
  grid-column: 12/19;
}
.be-main-grid .be-columns-12-20 {
  grid-column: 12/20;
}
.be-main-grid .be-columns-12-21 {
  grid-column: 12/21;
}
.be-main-grid .be-columns-12-22 {
  grid-column: 12/22;
}
.be-main-grid .be-columns-12-23 {
  grid-column: 12/23;
}
.be-main-grid .be-columns-12-24 {
  grid-column: 12/24;
}
.be-main-grid .be-columns-12-25 {
  grid-column: 12/25;
}
.be-main-grid .be-columns-12-26 {
  grid-column: 12/26;
}
.be-main-grid .be-columns-12-27 {
  grid-column: 12/27;
}
.be-main-grid .be-columns-12-28 {
  grid-column: 12/28;
}
.be-main-grid .be-columns-12-29 {
  grid-column: 12/29;
}
.be-main-grid .be-columns-12-30 {
  grid-column: 12/30;
}
.be-main-grid .be-columns-12-31 {
  grid-column: 12/31;
}
.be-main-grid .be-columns-12-32 {
  grid-column: 12/32;
}
.be-main-grid .be-columns-12-33 {
  grid-column: 12/33;
}
.be-main-grid .be-columns-12-34 {
  grid-column: 12/34;
}
.be-main-grid .be-columns-12-35 {
  grid-column: 12/35;
}
.be-main-grid .be-columns-12-36 {
  grid-column: 12/36;
}
.be-main-grid .be-columns-12-37 {
  grid-column: 12/37;
}
.be-main-grid .be-columns-13-13 {
  grid-column: 13/13;
}
.be-main-grid .be-columns-13-14 {
  grid-column: 13/14;
}
.be-main-grid .be-columns-13-15 {
  grid-column: 13/15;
}
.be-main-grid .be-columns-13-16 {
  grid-column: 13/16;
}
.be-main-grid .be-columns-13-17 {
  grid-column: 13/17;
}
.be-main-grid .be-columns-13-18 {
  grid-column: 13/18;
}
.be-main-grid .be-columns-13-19 {
  grid-column: 13/19;
}
.be-main-grid .be-columns-13-20 {
  grid-column: 13/20;
}
.be-main-grid .be-columns-13-21 {
  grid-column: 13/21;
}
.be-main-grid .be-columns-13-22 {
  grid-column: 13/22;
}
.be-main-grid .be-columns-13-23 {
  grid-column: 13/23;
}
.be-main-grid .be-columns-13-24 {
  grid-column: 13/24;
}
.be-main-grid .be-columns-13-25 {
  grid-column: 13/25;
}
.be-main-grid .be-columns-13-26 {
  grid-column: 13/26;
}
.be-main-grid .be-columns-13-27 {
  grid-column: 13/27;
}
.be-main-grid .be-columns-13-28 {
  grid-column: 13/28;
}
.be-main-grid .be-columns-13-29 {
  grid-column: 13/29;
}
.be-main-grid .be-columns-13-30 {
  grid-column: 13/30;
}
.be-main-grid .be-columns-13-31 {
  grid-column: 13/31;
}
.be-main-grid .be-columns-13-32 {
  grid-column: 13/32;
}
.be-main-grid .be-columns-13-33 {
  grid-column: 13/33;
}
.be-main-grid .be-columns-13-34 {
  grid-column: 13/34;
}
.be-main-grid .be-columns-13-35 {
  grid-column: 13/35;
}
.be-main-grid .be-columns-13-36 {
  grid-column: 13/36;
}
.be-main-grid .be-columns-13-37 {
  grid-column: 13/37;
}
.be-main-grid .be-columns-14-14 {
  grid-column: 14/14;
}
.be-main-grid .be-columns-14-15 {
  grid-column: 14/15;
}
.be-main-grid .be-columns-14-16 {
  grid-column: 14/16;
}
.be-main-grid .be-columns-14-17 {
  grid-column: 14/17;
}
.be-main-grid .be-columns-14-18 {
  grid-column: 14/18;
}
.be-main-grid .be-columns-14-19 {
  grid-column: 14/19;
}
.be-main-grid .be-columns-14-20 {
  grid-column: 14/20;
}
.be-main-grid .be-columns-14-21 {
  grid-column: 14/21;
}
.be-main-grid .be-columns-14-22 {
  grid-column: 14/22;
}
.be-main-grid .be-columns-14-23 {
  grid-column: 14/23;
}
.be-main-grid .be-columns-14-24 {
  grid-column: 14/24;
}
.be-main-grid .be-columns-14-25 {
  grid-column: 14/25;
}
.be-main-grid .be-columns-14-26 {
  grid-column: 14/26;
}
.be-main-grid .be-columns-14-27 {
  grid-column: 14/27;
}
.be-main-grid .be-columns-14-28 {
  grid-column: 14/28;
}
.be-main-grid .be-columns-14-29 {
  grid-column: 14/29;
}
.be-main-grid .be-columns-14-30 {
  grid-column: 14/30;
}
.be-main-grid .be-columns-14-31 {
  grid-column: 14/31;
}
.be-main-grid .be-columns-14-32 {
  grid-column: 14/32;
}
.be-main-grid .be-columns-14-33 {
  grid-column: 14/33;
}
.be-main-grid .be-columns-14-34 {
  grid-column: 14/34;
}
.be-main-grid .be-columns-14-35 {
  grid-column: 14/35;
}
.be-main-grid .be-columns-14-36 {
  grid-column: 14/36;
}
.be-main-grid .be-columns-14-37 {
  grid-column: 14/37;
}
.be-main-grid .be-columns-15-15 {
  grid-column: 15/15;
}
.be-main-grid .be-columns-15-16 {
  grid-column: 15/16;
}
.be-main-grid .be-columns-15-17 {
  grid-column: 15/17;
}
.be-main-grid .be-columns-15-18 {
  grid-column: 15/18;
}
.be-main-grid .be-columns-15-19 {
  grid-column: 15/19;
}
.be-main-grid .be-columns-15-20 {
  grid-column: 15/20;
}
.be-main-grid .be-columns-15-21 {
  grid-column: 15/21;
}
.be-main-grid .be-columns-15-22 {
  grid-column: 15/22;
}
.be-main-grid .be-columns-15-23 {
  grid-column: 15/23;
}
.be-main-grid .be-columns-15-24 {
  grid-column: 15/24;
}
.be-main-grid .be-columns-15-25 {
  grid-column: 15/25;
}
.be-main-grid .be-columns-15-26 {
  grid-column: 15/26;
}
.be-main-grid .be-columns-15-27 {
  grid-column: 15/27;
}
.be-main-grid .be-columns-15-28 {
  grid-column: 15/28;
}
.be-main-grid .be-columns-15-29 {
  grid-column: 15/29;
}
.be-main-grid .be-columns-15-30 {
  grid-column: 15/30;
}
.be-main-grid .be-columns-15-31 {
  grid-column: 15/31;
}
.be-main-grid .be-columns-15-32 {
  grid-column: 15/32;
}
.be-main-grid .be-columns-15-33 {
  grid-column: 15/33;
}
.be-main-grid .be-columns-15-34 {
  grid-column: 15/34;
}
.be-main-grid .be-columns-15-35 {
  grid-column: 15/35;
}
.be-main-grid .be-columns-15-36 {
  grid-column: 15/36;
}
.be-main-grid .be-columns-15-37 {
  grid-column: 15/37;
}
.be-main-grid .be-columns-16-16 {
  grid-column: 16/16;
}
.be-main-grid .be-columns-16-17 {
  grid-column: 16/17;
}
.be-main-grid .be-columns-16-18 {
  grid-column: 16/18;
}
.be-main-grid .be-columns-16-19 {
  grid-column: 16/19;
}
.be-main-grid .be-columns-16-20 {
  grid-column: 16/20;
}
.be-main-grid .be-columns-16-21 {
  grid-column: 16/21;
}
.be-main-grid .be-columns-16-22 {
  grid-column: 16/22;
}
.be-main-grid .be-columns-16-23 {
  grid-column: 16/23;
}
.be-main-grid .be-columns-16-24 {
  grid-column: 16/24;
}
.be-main-grid .be-columns-16-25 {
  grid-column: 16/25;
}
.be-main-grid .be-columns-16-26 {
  grid-column: 16/26;
}
.be-main-grid .be-columns-16-27 {
  grid-column: 16/27;
}
.be-main-grid .be-columns-16-28 {
  grid-column: 16/28;
}
.be-main-grid .be-columns-16-29 {
  grid-column: 16/29;
}
.be-main-grid .be-columns-16-30 {
  grid-column: 16/30;
}
.be-main-grid .be-columns-16-31 {
  grid-column: 16/31;
}
.be-main-grid .be-columns-16-32 {
  grid-column: 16/32;
}
.be-main-grid .be-columns-16-33 {
  grid-column: 16/33;
}
.be-main-grid .be-columns-16-34 {
  grid-column: 16/34;
}
.be-main-grid .be-columns-16-35 {
  grid-column: 16/35;
}
.be-main-grid .be-columns-16-36 {
  grid-column: 16/36;
}
.be-main-grid .be-columns-16-37 {
  grid-column: 16/37;
}
.be-main-grid .be-columns-17-17 {
  grid-column: 17/17;
}
.be-main-grid .be-columns-17-18 {
  grid-column: 17/18;
}
.be-main-grid .be-columns-17-19 {
  grid-column: 17/19;
}
.be-main-grid .be-columns-17-20 {
  grid-column: 17/20;
}
.be-main-grid .be-columns-17-21 {
  grid-column: 17/21;
}
.be-main-grid .be-columns-17-22 {
  grid-column: 17/22;
}
.be-main-grid .be-columns-17-23 {
  grid-column: 17/23;
}
.be-main-grid .be-columns-17-24 {
  grid-column: 17/24;
}
.be-main-grid .be-columns-17-25 {
  grid-column: 17/25;
}
.be-main-grid .be-columns-17-26 {
  grid-column: 17/26;
}
.be-main-grid .be-columns-17-27 {
  grid-column: 17/27;
}
.be-main-grid .be-columns-17-28 {
  grid-column: 17/28;
}
.be-main-grid .be-columns-17-29 {
  grid-column: 17/29;
}
.be-main-grid .be-columns-17-30 {
  grid-column: 17/30;
}
.be-main-grid .be-columns-17-31 {
  grid-column: 17/31;
}
.be-main-grid .be-columns-17-32 {
  grid-column: 17/32;
}
.be-main-grid .be-columns-17-33 {
  grid-column: 17/33;
}
.be-main-grid .be-columns-17-34 {
  grid-column: 17/34;
}
.be-main-grid .be-columns-17-35 {
  grid-column: 17/35;
}
.be-main-grid .be-columns-17-36 {
  grid-column: 17/36;
}
.be-main-grid .be-columns-17-37 {
  grid-column: 17/37;
}
.be-main-grid .be-columns-18-18 {
  grid-column: 18/18;
}
.be-main-grid .be-columns-18-19 {
  grid-column: 18/19;
}
.be-main-grid .be-columns-18-20 {
  grid-column: 18/20;
}
.be-main-grid .be-columns-18-21 {
  grid-column: 18/21;
}
.be-main-grid .be-columns-18-22 {
  grid-column: 18/22;
}
.be-main-grid .be-columns-18-23 {
  grid-column: 18/23;
}
.be-main-grid .be-columns-18-24 {
  grid-column: 18/24;
}
.be-main-grid .be-columns-18-25 {
  grid-column: 18/25;
}
.be-main-grid .be-columns-18-26 {
  grid-column: 18/26;
}
.be-main-grid .be-columns-18-27 {
  grid-column: 18/27;
}
.be-main-grid .be-columns-18-28 {
  grid-column: 18/28;
}
.be-main-grid .be-columns-18-29 {
  grid-column: 18/29;
}
.be-main-grid .be-columns-18-30 {
  grid-column: 18/30;
}
.be-main-grid .be-columns-18-31 {
  grid-column: 18/31;
}
.be-main-grid .be-columns-18-32 {
  grid-column: 18/32;
}
.be-main-grid .be-columns-18-33 {
  grid-column: 18/33;
}
.be-main-grid .be-columns-18-34 {
  grid-column: 18/34;
}
.be-main-grid .be-columns-18-35 {
  grid-column: 18/35;
}
.be-main-grid .be-columns-18-36 {
  grid-column: 18/36;
}
.be-main-grid .be-columns-18-37 {
  grid-column: 18/37;
}
.be-main-grid .be-columns-19-19 {
  grid-column: 19/19;
}
.be-main-grid .be-columns-19-20 {
  grid-column: 19/20;
}
.be-main-grid .be-columns-19-21 {
  grid-column: 19/21;
}
.be-main-grid .be-columns-19-22 {
  grid-column: 19/22;
}
.be-main-grid .be-columns-19-23 {
  grid-column: 19/23;
}
.be-main-grid .be-columns-19-24 {
  grid-column: 19/24;
}
.be-main-grid .be-columns-19-25 {
  grid-column: 19/25;
}
.be-main-grid .be-columns-19-26 {
  grid-column: 19/26;
}
.be-main-grid .be-columns-19-27 {
  grid-column: 19/27;
}
.be-main-grid .be-columns-19-28 {
  grid-column: 19/28;
}
.be-main-grid .be-columns-19-29 {
  grid-column: 19/29;
}
.be-main-grid .be-columns-19-30 {
  grid-column: 19/30;
}
.be-main-grid .be-columns-19-31 {
  grid-column: 19/31;
}
.be-main-grid .be-columns-19-32 {
  grid-column: 19/32;
}
.be-main-grid .be-columns-19-33 {
  grid-column: 19/33;
}
.be-main-grid .be-columns-19-34 {
  grid-column: 19/34;
}
.be-main-grid .be-columns-19-35 {
  grid-column: 19/35;
}
.be-main-grid .be-columns-19-36 {
  grid-column: 19/36;
}
.be-main-grid .be-columns-19-37 {
  grid-column: 19/37;
}
.be-main-grid .be-columns-20-20 {
  grid-column: 20/20;
}
.be-main-grid .be-columns-20-21 {
  grid-column: 20/21;
}
.be-main-grid .be-columns-20-22 {
  grid-column: 20/22;
}
.be-main-grid .be-columns-20-23 {
  grid-column: 20/23;
}
.be-main-grid .be-columns-20-24 {
  grid-column: 20/24;
}
.be-main-grid .be-columns-20-25 {
  grid-column: 20/25;
}
.be-main-grid .be-columns-20-26 {
  grid-column: 20/26;
}
.be-main-grid .be-columns-20-27 {
  grid-column: 20/27;
}
.be-main-grid .be-columns-20-28 {
  grid-column: 20/28;
}
.be-main-grid .be-columns-20-29 {
  grid-column: 20/29;
}
.be-main-grid .be-columns-20-30 {
  grid-column: 20/30;
}
.be-main-grid .be-columns-20-31 {
  grid-column: 20/31;
}
.be-main-grid .be-columns-20-32 {
  grid-column: 20/32;
}
.be-main-grid .be-columns-20-33 {
  grid-column: 20/33;
}
.be-main-grid .be-columns-20-34 {
  grid-column: 20/34;
}
.be-main-grid .be-columns-20-35 {
  grid-column: 20/35;
}
.be-main-grid .be-columns-20-36 {
  grid-column: 20/36;
}
.be-main-grid .be-columns-20-37 {
  grid-column: 20/37;
}
.be-main-grid .be-columns-21-21 {
  grid-column: 21/21;
}
.be-main-grid .be-columns-21-22 {
  grid-column: 21/22;
}
.be-main-grid .be-columns-21-23 {
  grid-column: 21/23;
}
.be-main-grid .be-columns-21-24 {
  grid-column: 21/24;
}
.be-main-grid .be-columns-21-25 {
  grid-column: 21/25;
}
.be-main-grid .be-columns-21-26 {
  grid-column: 21/26;
}
.be-main-grid .be-columns-21-27 {
  grid-column: 21/27;
}
.be-main-grid .be-columns-21-28 {
  grid-column: 21/28;
}
.be-main-grid .be-columns-21-29 {
  grid-column: 21/29;
}
.be-main-grid .be-columns-21-30 {
  grid-column: 21/30;
}
.be-main-grid .be-columns-21-31 {
  grid-column: 21/31;
}
.be-main-grid .be-columns-21-32 {
  grid-column: 21/32;
}
.be-main-grid .be-columns-21-33 {
  grid-column: 21/33;
}
.be-main-grid .be-columns-21-34 {
  grid-column: 21/34;
}
.be-main-grid .be-columns-21-35 {
  grid-column: 21/35;
}
.be-main-grid .be-columns-21-36 {
  grid-column: 21/36;
}
.be-main-grid .be-columns-21-37 {
  grid-column: 21/37;
}
.be-main-grid .be-columns-22-22 {
  grid-column: 22/22;
}
.be-main-grid .be-columns-22-23 {
  grid-column: 22/23;
}
.be-main-grid .be-columns-22-24 {
  grid-column: 22/24;
}
.be-main-grid .be-columns-22-25 {
  grid-column: 22/25;
}
.be-main-grid .be-columns-22-26 {
  grid-column: 22/26;
}
.be-main-grid .be-columns-22-27 {
  grid-column: 22/27;
}
.be-main-grid .be-columns-22-28 {
  grid-column: 22/28;
}
.be-main-grid .be-columns-22-29 {
  grid-column: 22/29;
}
.be-main-grid .be-columns-22-30 {
  grid-column: 22/30;
}
.be-main-grid .be-columns-22-31 {
  grid-column: 22/31;
}
.be-main-grid .be-columns-22-32 {
  grid-column: 22/32;
}
.be-main-grid .be-columns-22-33 {
  grid-column: 22/33;
}
.be-main-grid .be-columns-22-34 {
  grid-column: 22/34;
}
.be-main-grid .be-columns-22-35 {
  grid-column: 22/35;
}
.be-main-grid .be-columns-22-36 {
  grid-column: 22/36;
}
.be-main-grid .be-columns-22-37 {
  grid-column: 22/37;
}
.be-main-grid .be-columns-23-23 {
  grid-column: 23/23;
}
.be-main-grid .be-columns-23-24 {
  grid-column: 23/24;
}
.be-main-grid .be-columns-23-25 {
  grid-column: 23/25;
}
.be-main-grid .be-columns-23-26 {
  grid-column: 23/26;
}
.be-main-grid .be-columns-23-27 {
  grid-column: 23/27;
}
.be-main-grid .be-columns-23-28 {
  grid-column: 23/28;
}
.be-main-grid .be-columns-23-29 {
  grid-column: 23/29;
}
.be-main-grid .be-columns-23-30 {
  grid-column: 23/30;
}
.be-main-grid .be-columns-23-31 {
  grid-column: 23/31;
}
.be-main-grid .be-columns-23-32 {
  grid-column: 23/32;
}
.be-main-grid .be-columns-23-33 {
  grid-column: 23/33;
}
.be-main-grid .be-columns-23-34 {
  grid-column: 23/34;
}
.be-main-grid .be-columns-23-35 {
  grid-column: 23/35;
}
.be-main-grid .be-columns-23-36 {
  grid-column: 23/36;
}
.be-main-grid .be-columns-23-37 {
  grid-column: 23/37;
}
.be-main-grid .be-columns-24-24 {
  grid-column: 24/24;
}
.be-main-grid .be-columns-24-25 {
  grid-column: 24/25;
}
.be-main-grid .be-columns-24-26 {
  grid-column: 24/26;
}
.be-main-grid .be-columns-24-27 {
  grid-column: 24/27;
}
.be-main-grid .be-columns-24-28 {
  grid-column: 24/28;
}
.be-main-grid .be-columns-24-29 {
  grid-column: 24/29;
}
.be-main-grid .be-columns-24-30 {
  grid-column: 24/30;
}
.be-main-grid .be-columns-24-31 {
  grid-column: 24/31;
}
.be-main-grid .be-columns-24-32 {
  grid-column: 24/32;
}
.be-main-grid .be-columns-24-33 {
  grid-column: 24/33;
}
.be-main-grid .be-columns-24-34 {
  grid-column: 24/34;
}
.be-main-grid .be-columns-24-35 {
  grid-column: 24/35;
}
.be-main-grid .be-columns-24-36 {
  grid-column: 24/36;
}
.be-main-grid .be-columns-24-37 {
  grid-column: 24/37;
}
.be-main-grid .be-columns-25-25 {
  grid-column: 25/25;
}
.be-main-grid .be-columns-25-26 {
  grid-column: 25/26;
}
.be-main-grid .be-columns-25-27 {
  grid-column: 25/27;
}
.be-main-grid .be-columns-25-28 {
  grid-column: 25/28;
}
.be-main-grid .be-columns-25-29 {
  grid-column: 25/29;
}
.be-main-grid .be-columns-25-30 {
  grid-column: 25/30;
}
.be-main-grid .be-columns-25-31 {
  grid-column: 25/31;
}
.be-main-grid .be-columns-25-32 {
  grid-column: 25/32;
}
.be-main-grid .be-columns-25-33 {
  grid-column: 25/33;
}
.be-main-grid .be-columns-25-34 {
  grid-column: 25/34;
}
.be-main-grid .be-columns-25-35 {
  grid-column: 25/35;
}
.be-main-grid .be-columns-25-36 {
  grid-column: 25/36;
}
.be-main-grid .be-columns-25-37 {
  grid-column: 25/37;
}
.be-main-grid .be-columns-26-26 {
  grid-column: 26/26;
}
.be-main-grid .be-columns-26-27 {
  grid-column: 26/27;
}
.be-main-grid .be-columns-26-28 {
  grid-column: 26/28;
}
.be-main-grid .be-columns-26-29 {
  grid-column: 26/29;
}
.be-main-grid .be-columns-26-30 {
  grid-column: 26/30;
}
.be-main-grid .be-columns-26-31 {
  grid-column: 26/31;
}
.be-main-grid .be-columns-26-32 {
  grid-column: 26/32;
}
.be-main-grid .be-columns-26-33 {
  grid-column: 26/33;
}
.be-main-grid .be-columns-26-34 {
  grid-column: 26/34;
}
.be-main-grid .be-columns-26-35 {
  grid-column: 26/35;
}
.be-main-grid .be-columns-26-36 {
  grid-column: 26/36;
}
.be-main-grid .be-columns-26-37 {
  grid-column: 26/37;
}
.be-main-grid .be-columns-27-27 {
  grid-column: 27/27;
}
.be-main-grid .be-columns-27-28 {
  grid-column: 27/28;
}
.be-main-grid .be-columns-27-29 {
  grid-column: 27/29;
}
.be-main-grid .be-columns-27-30 {
  grid-column: 27/30;
}
.be-main-grid .be-columns-27-31 {
  grid-column: 27/31;
}
.be-main-grid .be-columns-27-32 {
  grid-column: 27/32;
}
.be-main-grid .be-columns-27-33 {
  grid-column: 27/33;
}
.be-main-grid .be-columns-27-34 {
  grid-column: 27/34;
}
.be-main-grid .be-columns-27-35 {
  grid-column: 27/35;
}
.be-main-grid .be-columns-27-36 {
  grid-column: 27/36;
}
.be-main-grid .be-columns-27-37 {
  grid-column: 27/37;
}
.be-main-grid .be-columns-28-28 {
  grid-column: 28/28;
}
.be-main-grid .be-columns-28-29 {
  grid-column: 28/29;
}
.be-main-grid .be-columns-28-30 {
  grid-column: 28/30;
}
.be-main-grid .be-columns-28-31 {
  grid-column: 28/31;
}
.be-main-grid .be-columns-28-32 {
  grid-column: 28/32;
}
.be-main-grid .be-columns-28-33 {
  grid-column: 28/33;
}
.be-main-grid .be-columns-28-34 {
  grid-column: 28/34;
}
.be-main-grid .be-columns-28-35 {
  grid-column: 28/35;
}
.be-main-grid .be-columns-28-36 {
  grid-column: 28/36;
}
.be-main-grid .be-columns-28-37 {
  grid-column: 28/37;
}
.be-main-grid .be-columns-29-29 {
  grid-column: 29/29;
}
.be-main-grid .be-columns-29-30 {
  grid-column: 29/30;
}
.be-main-grid .be-columns-29-31 {
  grid-column: 29/31;
}
.be-main-grid .be-columns-29-32 {
  grid-column: 29/32;
}
.be-main-grid .be-columns-29-33 {
  grid-column: 29/33;
}
.be-main-grid .be-columns-29-34 {
  grid-column: 29/34;
}
.be-main-grid .be-columns-29-35 {
  grid-column: 29/35;
}
.be-main-grid .be-columns-29-36 {
  grid-column: 29/36;
}
.be-main-grid .be-columns-29-37 {
  grid-column: 29/37;
}
.be-main-grid .be-columns-30-30 {
  grid-column: 30/30;
}
.be-main-grid .be-columns-30-31 {
  grid-column: 30/31;
}
.be-main-grid .be-columns-30-32 {
  grid-column: 30/32;
}
.be-main-grid .be-columns-30-33 {
  grid-column: 30/33;
}
.be-main-grid .be-columns-30-34 {
  grid-column: 30/34;
}
.be-main-grid .be-columns-30-35 {
  grid-column: 30/35;
}
.be-main-grid .be-columns-30-36 {
  grid-column: 30/36;
}
.be-main-grid .be-columns-30-37 {
  grid-column: 30/37;
}
.be-main-grid .be-columns-31-31 {
  grid-column: 31/31;
}
.be-main-grid .be-columns-31-32 {
  grid-column: 31/32;
}
.be-main-grid .be-columns-31-33 {
  grid-column: 31/33;
}
.be-main-grid .be-columns-31-34 {
  grid-column: 31/34;
}
.be-main-grid .be-columns-31-35 {
  grid-column: 31/35;
}
.be-main-grid .be-columns-31-36 {
  grid-column: 31/36;
}
.be-main-grid .be-columns-31-37 {
  grid-column: 31/37;
}
.be-main-grid .be-columns-32-32 {
  grid-column: 32/32;
}
.be-main-grid .be-columns-32-33 {
  grid-column: 32/33;
}
.be-main-grid .be-columns-32-34 {
  grid-column: 32/34;
}
.be-main-grid .be-columns-32-35 {
  grid-column: 32/35;
}
.be-main-grid .be-columns-32-36 {
  grid-column: 32/36;
}
.be-main-grid .be-columns-32-37 {
  grid-column: 32/37;
}
.be-main-grid .be-columns-33-33 {
  grid-column: 33/33;
}
.be-main-grid .be-columns-33-34 {
  grid-column: 33/34;
}
.be-main-grid .be-columns-33-35 {
  grid-column: 33/35;
}
.be-main-grid .be-columns-33-36 {
  grid-column: 33/36;
}
.be-main-grid .be-columns-33-37 {
  grid-column: 33/37;
}
.be-main-grid .be-columns-34-34 {
  grid-column: 34/34;
}
.be-main-grid .be-columns-34-35 {
  grid-column: 34/35;
}
.be-main-grid .be-columns-34-36 {
  grid-column: 34/36;
}
.be-main-grid .be-columns-34-37 {
  grid-column: 34/37;
}
.be-main-grid .be-columns-35-35 {
  grid-column: 35/35;
}
.be-main-grid .be-columns-35-36 {
  grid-column: 35/36;
}
.be-main-grid .be-columns-35-37 {
  grid-column: 35/37;
}
.be-main-grid .be-columns-36-36 {
  grid-column: 36/36;
}
.be-main-grid .be-columns-36-37 {
  grid-column: 36/37;
}
.be-main-grid .be-columns-37-37 {
  grid-column: 37/37;
}

table.inno-table {
  display: contents;
  font-family: "InnomoticsHafferSQ";
  border-collapse: collapse;
  border-spacing: 0;
  color: #08191f;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  table-layout: auto;
  width: 100%;
}
table.inno-table tr {
  background-color: rgba(0, 0, 0, 0);
}
table.inno-table th,
table.inno-table td {
  padding: 16px;
  min-width: 144px;
  line-height: 24.8px;
  text-align: left;
}
table.inno-table thead {
  background-color: rgba(0, 0, 0, 0);
}
table.inno-table thead th {
  text-align: left;
  font-weight: 790;
  border-color: #08191f;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  color: #08191f;
  background-color: rgba(0, 0, 0, 0);
}
table.inno-table thead tr {
  border: none;
}
table.inno-table tbody th,
table.inno-table tbody td {
  border-color: rgba(8, 25, 31, 0.2);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  color: #08191f;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
}
table.inno-table tbody tr {
  border: none;
}
table.inno-table tr {
  font-weight: 430;
}
table.inno-table.dark {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
}
table.inno-table.dark thead th {
  border-color: #ffffff;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
}
table.inno-table.dark tbody th,
table.inno-table.dark tbody td {
  border-color: rgba(255, 255, 255, 0.4);
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
}
table.inno-table.dark tbody tr {
  border: none;
}

.select-item {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 16px;
  grid-template-rows: auto;
  align-items: center;
  border-width: 0px;
  border-style: none;
  padding: 0px 16px 0px 16px;
  height: 56px;
  gap: 10px;
  cursor: pointer;
}
.select-item.icon-driven:not(.can-favorite) {
  grid-template-columns: auto minmax(0, 1fr) 16px;
}
.select-item.icon-driven.can-favorite {
  grid-template-columns: auto minmax(0, 1fr) 24px;
}
.select-item.can-favorite .star {
  display: block;
  font-size: 24px;
  position: relative;
}
.select-item.separator {
  border-bottom: 3px double #ffffff;
}
.select-item.can-favorite:not(.selected):not(.icon-driven) {
  grid-template-columns: minmax(0, 1fr) 24px;
}
.select-item.can-favorite.selected:not(.icon-driven) {
  grid-template-columns: minmax(0, 1fr) 16px 24px;
}

:host {
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 32px;
}
:host.light {
  background-color: #ffffff;
}
:host.dark {
  background-color: #08191f;
}

.links {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.icons {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.ix-footer-copyright {
  font-weight: bold;
}
.ix-footer-copyright.light {
  color: #08191f;
}
.ix-footer-copyright.dark {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  :host {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 32px;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .ix-footer-copyright {
    margin-right: auto;
  }
  .links {
    display: contents;
  }
  .icons {
    display: contents;
  }
}