@use '@innomotics/ix/styles/base';
@use '@innomotics/ix/styles/colors';
@use '@innomotics/ix/styles/componentmixins';

:host {
  display: flex;

  a,
  a:visited,
  a:hover {
    &.light {
      color: colors.$text-light-highemphasis;
    }
    &.dark{
      color: colors.$text-dark-highemphasis;
    }
  }

  .accordion {
    text-decoration: none;
    width: 100%;
    border-top: 1px solid colors.$additional-light-300;

    &.light {
      background-color: colors.$primary-300;

      &:hover {
        background-color: #f0f0f0;
        border-top: 1px solid colors.$transparency-light-200;
        border-bottom: 1px solid colors.$transparency-light-200;
      }

      &:focus {
        @include componentmixins.focus;
      }
    }

    &.dark {
      background-color: colors.$primary-200;

      &:hover {
        background-color: colors.$interaction-dark-hover;
        border-top: 1px solid rgba(225, 240, 0, 1);
        border-bottom: 1px solid rgba(225, 240, 0, 1);
      }

      &:focus {
        @include componentmixins.focus;
      }
    }
  }

  .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px 0px 24px;
    min-height: 3rem;
    height: 3rem;
    pointer-events: all;
    cursor: pointer;
  }

  .accordion-header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;

    font-weight: bold;
    font-size: 16px;

    &.light {
      color: colors.$text-light-highemphasis;
    }

    &.dark {
      color: colors.$text-dark-highemphasis;
    }
  }

  .accordion-content {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;

    &.light {
      color: colors.$primary-200;
    }

    &.dark {
      color: colors.$primary-300;
    }

    display: block;

    &.hide {
      display: none;
      max-height: 0;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}
