@use '@innomotics/ix/styles/base';
@use '@innomotics/ix/styles/colors';
@use '@innomotics/ix/styles/componentmixins';

:host {
  display: flex;

  a,
  a:visited,
  a.hovered {
    &.light {
      color: colors.$text-light-highemphasis;
    }

    &.dark {
      color: colors.$text-dark-highemphasis;
    }
  }

  .accordion {
    text-decoration: none;
    width: 100%;

    &.last {
      border-top: 1px solid colors.$additional-light-300;
      border-bottom: 1px solid colors.$additional-light-300;
    }

    &.light {
      border-top: 1px solid colors.$additional-light-300;
      background-color: colors.$primary-300;

      &.hovered {
        background-color: colors.$secondary-100;
        border-top: 1px solid colors.$transparency-light-200;
      }

      /*&:focus {
        @include componentmixins.focus;
      }*/

      &.open.hovered {
        background-color: colors.$secondary-100;
      }

      &.inner {
        border: 0;
        background-color: transparent;
      }

      &.inner.hovered {
        background-color: colors.$secondary-100;
      }
    }

    &.dark {
      border-top: 1px solid colors.$additional-light-300;
      background-color: colors.$primary-200;

      &.hovered {
        background-color: colors.$interaction-dark-hover;
        border-top: 1px solid rgba(225, 240, 0, 1);
      }

      /*&:focus {
        @include componentmixins.focus;
      }*/

      &.inner {
        border: 0;
      }
    }
  }

  .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px 0px 24px;
    min-height: 3rem;
    height: 3rem;
    pointer-events: all;
    cursor: pointer;

    &.inner {
      padding: 0;
    }
  }

  .accordion-header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;

    font-weight: bold;
    font-size: 16px;

    &.light {
      color: colors.$text-light-highemphasis;
    }

    &.dark {
      color: colors.$text-dark-highemphasis;
    }

    &.inner {
      font-weight: normal;
      font-size: 12px;
    }

    &.hide {
      display: none;
      max-height: 0;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  .accordion-content {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
    cursor: default;

    &.light {
      color: colors.$primary-200;
    }

    &.dark {
      color: colors.$primary-300;
    }

    display: block;

    &.inner {
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 24px;
      font-weight: normal;
      font-size: 12px;
    }

    &.hide {
      display: none;
      max-height: 0;
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}