:host {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  height: 60px;
  padding: 16px 16px 16px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  line-height: 25px;
  font-size: 16px;
  font-weight: bold;
  font-family: "InnomoticsHafferSQ";
  font-weight: bold;
}
:host ::-webkit-scrollbar-button {
  display: none;
}
:host ::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
:host ::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #2a3b40;
}
:host ::-webkit-scrollbar-track:hover {
  background: #2a3b40;
}
:host ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #566b73;
}
:host ::-webkit-scrollbar-thumb:hover {
  background: #566b73;
}
:host ::-webkit-scrollbar-corner {
  display: none;
}
:host *,
:host *::after,
:host *::before {
  box-sizing: border-box;
}
:host::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: height 300ms cubic-bezier(0.84, 0, 0.58, 1);
}
:host.light {
  color: #40545b;
}
:host.light::after {
  opacity: 0.2;
  background-color: #08191f;
}
:host.dark {
  color: #b2c1c7;
}
:host.dark::after {
  opacity: 0.4;
  background-color: #b2c1c7;
}
:host .slot-container {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
:host .slot-container span,
:host .slot-container span::before {
  pointer-events: none;
}
:host .hidden {
  display: none;
}
:host.emphasized.light {
  color: #08191f;
}
:host.emphasized.light::after {
  opacity: 1;
  background-color: #08191f;
}
:host.emphasized.dark {
  color: #ffffff;
}
:host.emphasized.dark::after {
  opacity: 1;
  background-color: #ffffff;
}
:host.minimal-decorator::after {
  height: 0;
}

:host(:focus-visible) {
  outline-width: 0px;
}

:host(.stretched) {
  flex-basis: 100%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:host(:hover) {
  cursor: pointer;
}
:host(:hover)::after {
  height: 8px;
}
:host(:hover).light {
  color: #40545b;
}
:host(:hover).light::after {
  opacity: 1;
  background-color: #40545b;
}
:host(:hover).dark {
  color: #b2c1c7;
}
:host(:hover).dark::after {
  opacity: 1;
  background-color: #b2c1c7;
}
:host(:hover).emphasized.light {
  color: #08191f;
}
:host(:hover).emphasized.light::after {
  opacity: 1;
  background-color: #08191f;
}
:host(:hover).emphasized.dark {
  color: #ffffff;
}
:host(:hover).emphasized.dark::after {
  opacity: 1;
  background-color: #ffffff;
}

:host(:active)::after {
  height: 8px;
}
:host(:active).light {
  color: #08191f;
}
:host(:active).light::after {
  opacity: 1;
  background-color: #08191f;
}
:host(:active).dark {
  color: #e1f000;
}
:host(:active).dark::after {
  opacity: 1;
  background-color: #e1f000;
}

:host(.disabled) {
  pointer-events: none;
}
:host(.disabled)::after {
  height: 0px;
}
:host(.disabled).light {
  color: #40545b;
}
:host(.disabled).light::after {
  opacity: 1;
  background-color: #40545b;
}
:host(.disabled).dark {
  color: #40545b;
}
:host(.disabled).dark::after {
  opacity: 1;
  background-color: #40545b;
}

:host(.selected:not(.disabled))::after {
  height: 8px;
}
:host(.selected:not(.disabled)).light {
  color: #08191f;
}
:host(.selected:not(.disabled)).light::after {
  opacity: 1;
  background-color: #08191f;
}
:host(.selected:not(.disabled)).dark {
  color: #e1f000;
}
:host(.selected:not(.disabled)).dark::after {
  opacity: 1;
  background-color: #e1f000;
}