.select-item {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 16px;
  grid-template-rows: auto;
  align-items: center;
  border-width: 0px;
  border-style: none;
  padding: 0px 16px 0px 16px;
  height: 56px;
  gap: 10px;
  cursor: pointer;
}
.select-item.icon-driven:not(.can-favorite) {
  grid-template-columns: auto minmax(0, 1fr) 16px;
}
.select-item.icon-driven.can-favorite {
  grid-template-columns: auto minmax(0, 1fr) 24px;
}
.select-item.can-favorite .star {
  display: block;
  font-size: 24px;
  position: relative;
}
.select-item.separator {
  border-bottom: 3px double #ffffff;
}
.select-item.can-favorite:not(.selected):not(.icon-driven) {
  grid-template-columns: minmax(0, 1fr) 24px;
}
.select-item.can-favorite.selected:not(.icon-driven) {
  grid-template-columns: minmax(0, 1fr) 16px 24px;
}

:host {
  cursor: pointer;
}
:host .icon-driven span {
  display: contents;
}
:host:focus-visible {
  outline-color: #1491EB;
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
}
:host.light:hover:not(.disabled):not(:disabled) {
  border: 1px solid #40545b;
  box-shadow: inset 0px 0px 0px 1px #40545b;
}
:host.light .select-header inno-icon {
  color: #08191f;
}
:host.light .icon-driven:not(inno-select-item) {
  color: #08191f;
}
:host.dark:hover:not(.disabled):not(:disabled) {
  border: 1px solid #e1f000;
  box-shadow: inset 0px 0px 0px 1px #e1f000;
}
:host.dark .select-header inno-icon {
  color: #ffffff;
}
:host.dark .icon-driven:not(inno-select-item) {
  color: #ffffff;
}
:host.primary {
  transition: background-color 0.3s cubic-bezier(0.84, 0, 0.58, 1);
}
:host.primary:hover:not(.disabled):not(:disabled) {
  color: #08191f;
  background-color: #b2c1c7;
}
:host.primary .select-header inno-icon {
  color: #08191f;
}
:host.primary .icon-driven:not(inno-select-item) {
  color: #08191f;
}
:host.primary-dark {
  transition: background-color 0.3s cubic-bezier(0.84, 0, 0.58, 1);
}
:host.primary-dark:hover:not(.disabled):not(:disabled) {
  color: #ffffff;
  background-color: #40545b;
}
:host.primary-dark .select-header inno-icon {
  color: #e1f000;
}
:host.primary-dark .icon-driven:not(inno-select-item) {
  color: #e1f000;
}
:host.input-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #9aacb4;
  margin: 5px 5px 8px 5px;
  height: 56px;
  max-height: 56px;
  min-height: 56px;
}
:host.input-container.primary {
  border: none;
}
:host.input-container .select-header {
  padding: 8px 16px 8px 16px;
  box-sizing: border-box;
  height: 56px;
  max-height: 56px;
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
:host.input-container .select-header .content {
  display: flex;
  overflow-x: hidden;
}
:host.input-container .select-header .content.filled:not(.empty-label) .label-value {
  margin-top: 16px;
}
:host.input-container .select-header .content .label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
:host.input-container .select-header .content .label.light {
  color: #40545b;
}
:host.input-container .select-header .content .label.light.disabled {
  color: #40545b;
}
:host.input-container .select-header .content .label.dark {
  color: #b2c1c7;
}
:host.input-container .select-header .content .label.dark.disabled {
  color: #b2c1c7;
}
:host.input-container .select-header .content .label.primary {
  color: #08191f;
}
:host.input-container .select-header .content .label.primary.disabled {
  color: #9aacb4;
  background-color: #40545b;
}
:host.input-container .select-header .content .label.primary-dark {
  color: #08191f;
}
:host.input-container .select-header .content .label.primary-dark.disabled {
  color: #9aacb4;
  background-color: #cad5da;
}
:host.input-container .select-header .content .float {
  position: absolute;
  top: 8px;
  font-size: 12px;
}
:host.input-container .select-header .content .label-value {
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
:host.input-container .select-header .content .label-value.light {
  color: #08191f;
}
:host.input-container .select-header .content .label-value.light.disabled {
  color: #40545b;
}
:host.input-container .select-header .content .label-value.dark {
  color: #ffffff;
}
:host.input-container .select-header .content .label-value.dark.disabled {
  color: #b2c1c7;
}
:host.input-container .select-header .content .label-value.primary {
  color: #08191f;
}
:host.input-container .select-header .content .label-value.primary.disabled {
  color: #9aacb4;
  background-color: #40545b;
}
:host.input-container .select-header .content .label-value.primary-dark {
  color: #e1f000;
}
:host.input-container .select-header .content .label-value.primary-dark.disabled {
  color: #9aacb4;
  background-color: #cad5da;
}
:host.input-container.dark {
  background-color: #08191f;
}
:host.input-container.dark.disabled {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}
:host.input-container.light {
  background-color: #ffffff;
}
:host.input-container.light.disabled {
  background-color: rgba(8, 25, 31, 0.2);
}
:host.input-container.primary {
  background-color: #e1f000;
}
:host.input-container.primary.disabled {
  color: #9aacb4;
  background-color: #40545b;
}
:host.input-container.primary-dark {
  color: #e1f000;
  background-color: #08191f;
}
:host.input-container.primary-dark.disabled {
  color: #9aacb4;
  background-color: #cad5da;
}
:host .select-wrapper {
  position: relative;
}
:host .select-wrapper .items {
  z-index: 2;
  display: none;
  position: fixed;
  max-height: 500px;
  overflow-y: auto;
}
:host .select-wrapper .items.opened {
  display: block;
}
:host .select-wrapper .select-item.icon-driven.light.disabled {
  color: #40545b;
}
:host .select-wrapper .select-item.icon-driven.dark.disabled {
  color: #b2c1c7;
}
:host .select-wrapper .select-item.icon-driven.disabled-light {
  color: #9aacb4;
}
:host .select-wrapper .select-item.icon-driven.disabled-dark {
  color: #9aacb4;
}
:host .select-wrapper .select-item.icon-driven .icon-driven-label {
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
:host.disabled {
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
:host.disabled inno-icon.chevron {
  display: none;
}