:host {
  scrollbar-width: thin;
}
:host .table-wrapper {
  position: relative;
  display: block;
}
:host .table-wrapper .mask-layer {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: calc(100% - 20px);
  background-color: rgba(0, 0, 0, 0);
  -webkit-mask-image: linear-gradient(to right, var(--left-mask-color) 0%, transparent 15%, transparent 50%, transparent calc(100% - 200px), var(--right-mask-color) 100%);
  mask-image: linear-gradient(to right, var(--left-mask-color) 0%, transparent 10%, transparent 85%, transparent calc(100% - 200px), var(--right-mask-color) 100%);
  -webkit-mask-size: contain;
          mask-size: contain;
  --left-mask-color: transparent;
  --right-mask-color: transparent;
}
:host .table-wrapper .mask-layer.is-left-overflowing {
  background-color: #ffffff;
  --left-mask-color: black;
}
:host .table-wrapper .mask-layer.is-right-overflowing {
  background-color: #ffffff;
  --right-mask-color: black;
}
:host .table-wrapper .table-div {
  display: block;
  width: 100%;
  font-size: 16px;
  overflow-x: auto;
  scrollbar-width: thin;
}