@use '@innomotics/brand-experience/styles/colors';

:host {
  display: inline-block;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 50;
  color: colors.$primary-300;
  font-weight: 300;
  font-size: 14px;
  opacity: 0;
  visibility: collapse !important;
  overflow-wrap: break-word;
  width: max-content;
  max-width: 90vw;

  background-color: colors.$additional-light-400;
  padding: 16px;

  box-shadow: 0px 2px 5px 0px rgba(colors.$primary-200,.8);

  .tooltip-title {
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .tooltip-text {
    display: block;
  }
}

:host(.visible) {
  opacity: 1;
  visibility: visible !important;
}

:host(.visible) {
  .arrow,
  .arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
  }

  .arrow {
    visibility: hidden;
  }

  .arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
    background-color: inherit;
  }
}

:host(.dark) {
  color: colors.$primary-300;
  background-color: colors.$additional-light-400;
}

:host(.light) {
  color: colors.$primary-200;
  background-color: colors.$additional-dark-400;
}
