@use '@innomotics/brand-experience/styles/colors';

:host {
  display: flex;
  background-color: transparent;
  overflow: hidden;
  font-size: 12px;

  inno-icon {
    padding-top: 2px;
  }
  &.light {
    color: colors.$interaction-light-default;
  }
  &.dark {
    color: colors.$interaction-dark-default;
  }
  ol {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    ::slotted(inno-breadcrumb-item:last-of-type) {
      font-weight: bold;
    }
  }
}
