#status-message-container {
  z-index: 1000;
}
#status-message-container > :not(:last-child) {
  margin-block-end: 1rem;
}

.status-message-container {
  display: block;
  position: fixed;
}

.status-message-container--top-right {
  right: 1rem;
  top: 2rem;
}

.status-message-container--bottom-right {
  right: 1rem;
  bottom: 2rem;
}

.status-message-container--bottom-left {
  left: 1rem;
  bottom: 2rem;
}

.status-message-container--top-left {
  left: 1rem;
  top: 2rem;
}