@use "@innomotics/ix/styles/innomotics";
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #{innomotics.$background-light-100};
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #{innomotics.$background-light-100};
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 7px;
}

.icon-item,
.color-item {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  min-width: 220px;
  min-height: 110px;
  border: 1px solid innomotics.$interaction-dark-default;
  &:hover {
    border: 1px solid innomotics.$interaction-dark-hover;
  }
  #colorcube {
    width: 60px;
    height: 60px;
    border-radius: 5px;
  }
  &.light {
    background-color: innomotics.$primary-300;
    color: innomotics.$primary-200;
    #colorcube {
      box-shadow: 0px 0px 5px 0px innomotics.$primary-200;
    }
  }
  &.dark {
    background-color: innomotics.$primary-200;
    color: innomotics.$primary-300;
    #colorcube {
      box-shadow: 0px 0px 5px 0px innomotics.$primary-300;
    }
  }
}

.InnomoticsHafferSQ-Bold {
  font-weight: bold;
}
.InnomoticsHafferSQ-BoldItalic {
  font-weight: bold;
  font-style: italic;
}
.InnomoticsHafferSQ-HeavyItalic {
  font-weight: 900;
  font-style: italic;
}
.InnomoticsHafferSQ-Light {
  font-weight: 300;
  font-style: normal;
}
.InnomoticsHafferSQ-Heavy {
  font-weight: 900;
  font-style: normal;
}
.InnomoticsHafferSQ-LightItalic {
  font-weight: 300;
  font-style: italic;
}
.InnomoticsHafferSQ-Medium {
  font-weight: 500;
  font-style: normal;
}
.InnomoticsHafferSQ-MediumItalic {
  font-weight: 500;
  font-style: italic;
}
.InnomoticsHafferSQ-Regular {
  font-weight: normal;
  font-style: normal;
}
.InnomoticsHafferSQ-RegularItalic {
  font-weight: normal;
  font-style: italic;
}
.InnomoticsHafferSQ-SemiBold {
  font-weight: 600;
  font-style: normal;
}
.InnomoticsHafferSQ-SemiBoldItalic {
  font-weight: 600;
  font-style: italic;
}
.InnomoticsHafferSQ-Thin {
  font-weight: 100;
  font-style: normal;
}
.InnomoticsHafferSQ-ThinItalic {
  font-weight: 100;
  font-style: italic;
}

.color-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.component-display {
  display: flex;
  flex-direction: row;
  &.columns
  {
    flex-direction: column;
  }
  gap: 10px;
  .light-bg {
    color: innomotics.$primary-200;
    flex-grow:1;
    padding: 1em;
    background-color: innomotics.$primary-300;
    padding: 1em;
    .bg-title {
      display: block;
      margin-bottom: 25px;
    }
  }
  .dark-bg {
    color: innomotics.$primary-300;
    flex-grow:1;
    padding: 1em;
    background-color: innomotics.$primary-200;
    .bg-title {
      display: block;
      margin-bottom: 25px;
    }

  }
}
