* {
  box-sizing: border-box;
}

:host {
  height: 25px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "InnomoticsHafferSQ";
  font-weight: 300;
  position: relative;
  outline-width: 0;
}

input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.checkbox.focus {
  outline: 1.5px solid #1491EB;
  outline-offset: 2px;
}
.checkbox.light {
  background-color: #ffffff;
  border: 1.5px solid #08191f;
}
.checkbox.dark {
  background-color: #08191f;
  border: 1.5px solid #ffffff;
}
.checkbox:hover.light {
  background-color: #ffffff;
  border: 1.5px solid #6d818a;
}
.checkbox:hover.dark {
  background-color: #08191f;
  border: 1.5px solid #9aacb4;
}
.checkbox:active.light {
  background-color: #ffffff;
  border: 1.5px solid #6d818a;
}
.checkbox:active.dark {
  background-color: #08191f;
  border: 1.5px solid #9aacb4;
}
.checkbox.error.light {
  background-color: #ffffff;
  border: 1.5px solid #CB0E0E;
}
.checkbox.error.dark {
  background-color: #08191f;
  border: 1.5px solid #FF88AB;
}
.checkbox.readonly {
  cursor: default;
}
.checkbox.readonly.light {
  background-color: #ffffff;
  border: 1.5px solid #9aacb4;
}
.checkbox.readonly.dark {
  background-color: #08191f;
  border: 1.5px solid #b2c1c7;
}
.checkbox.disabled {
  cursor: default;
}
.checkbox.disabled.light {
  background-color: #ffffff;
  border: 1.5px solid #9aacb4;
}
.checkbox.disabled.dark {
  background-color: #08191f;
  border: 1.5px solid #b2c1c7;
}
.checkbox.checked.light {
  background-color: #ffffff;
  border: 1.5px solid #08191f;
}
.checkbox.checked.dark {
  background-color: #08191f;
  border: 1.5px solid #e1f000;
}
.checkbox.checked:hover.light {
  background-color: #ffffff;
  border: 1.5px solid #08191f;
}
.checkbox.checked:hover.dark {
  background-color: #08191f;
  border: 1.5px solid #e1f000;
}
.checkbox.checked.error.light {
  background-color: #08191f;
  border: 1.5px solid #08191f;
}
.checkbox.checked.error.dark {
  background-color: #e1f000;
  border: 1.5px solid #e1f000;
}
.checkbox.checked:active.light {
  background-color: #ffffff;
  border: 1.5px solid #08191f;
}
.checkbox.checked:active.dark {
  background-color: #08191f;
  border: 1.5px solid #e1f000;
}
.checkbox.checked.readonly {
  cursor: default;
}
.checkbox.checked.readonly.light {
  background-color: #ffffff;
  border: 1.5px solid #ffffff;
}
.checkbox.checked.readonly.dark {
  background-color: #08191f;
  border: 1.5px solid #08191f;
}
.checkbox.checked.disabled {
  cursor: default;
}
.checkbox.checked.disabled.light {
  background-color: #cad5da;
  border: 1.5px solid #cad5da;
}
.checkbox.checked.disabled.dark {
  background-color: #08191f;
  border: 1.5px solid #9aacb4;
}

.checksign {
  width: 14px;
  height: 14px;
  background-color: #08191f;
  border-radius: 50%;
  display: inline-block;
  visibility: hidden;
}
.checksign.checked {
  visibility: visible;
}
.checksign.checked.light {
  background-color: #08191f;
}
.checksign.checked.dark {
  background-color: #e1f000;
}
.checksign.checked:hover.light {
  background-color: #08191f;
}
.checksign.checked:hover.dark {
  background-color: #e1f000;
}
.checksign.checked:active.light {
  background-color: #08191f;
}
.checksign.checked:active.dark {
  background-color: #e1f000;
}
.checksign.checked.readonly {
  cursor: default;
}
.checksign.checked.readonly.light {
  background-color: #08191f;
}
.checksign.checked.readonly.dark {
  background-color: #ffffff;
}
.checksign.checked.error.light {
  background-color: #ffffff;
}
.checksign.checked.error.dark {
  background-color: #08191f;
}
.checksign.checked.disabled {
  cursor: default;
}
.checksign.checked.disabled.light {
  background-color: #9aacb4;
}
.checksign.checked.disabled.dark {
  background-color: #9aacb4;
}

.label {
  font-size: 16px;
  cursor: pointer;
  margin-left: 12px;
}
.label.light {
  color: #08191f;
}
.label.dark {
  color: #ffffff;
}
.label.required::after {
  content: "*";
}
.label.error.light {
  color: #CB0E0E;
}
.label.error.dark {
  color: #FF88AB;
}
.label.readonly {
  cursor: default;
}
.label.readonly.light {
  color: #9aacb4;
}
.label.readonly.dark {
  color: #9aacb4;
}
.label.disabled {
  cursor: default;
}
.label.disabled.light {
  color: #9aacb4;
}
.label.disabled.dark {
  color: #9aacb4;
}
.label.checked.error.light {
  color: #08191f;
}
.label.checked.error.dark {
  color: #ffffff;
}