:host {
  display: flex;
  background-color: transparent;
  overflow: hidden;
  font-size: 12px;
}
:host inno-icon {
  padding-top: 2px;
}
:host.light {
  color: #08191f;
}
:host.dark {
  color: #ffffff;
}
:host ol {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  padding: 0px;
}
:host ol ::slotted(inno-breadcrumb-item:last-of-type) {
  font-weight: bold;
}