:host {
  height: 400px;
  width: 280px;
  display: flex;
  flex-direction: column;
  background-color: #2a3b40;
}

@media screen and (max-width: 800px) {
  :host {
    width: 100%;
  }
}
.title-container {
  height: 64px;
  padding: 24px 30px 24px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
}

.picker-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
}

.entry {
  width: 36px;
  height: 36px;
  background-color: transparent;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 25px;
  font-family: "InnomoticsHafferSQ";
  font-weight: 200;
}
.entry.active {
  background-color: #e1f000;
  color: #08191f;
  font-weight: 800;
}
.entry:hover {
  background-color: #b2c1c7;
  color: #08191f;
}

.column-container {
  overflow-y: scroll;
  max-height: 240px;
}
.column-container::-webkit-scrollbar {
  display: none;
}

.column::-webkit-scrollbar {
  display: none;
}

.confirm-container {
  height: 96px;
  padding: 24px;
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirm-container inno-button, .confirm-container inno-button > button {
  width: 100% !important;
}