:host {
  display: block;
}
:host.split-gutter {
  background-color: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
:host.split-gutter .handle {
  background-color: #08191f;
  border-radius: 8px;
}
:host.split-gutter.vertical {
  height: 16px;
  min-height: 16px;
  max-height: 16px;
  width: 100%;
  cursor: row-resize;
}
:host.split-gutter.vertical .handle {
  height: 8px;
  width: 40px;
}
:host.split-gutter.horizontal {
  width: 16px;
  min-width: 16px;
  max-width: 16px;
  height: 100%;
  cursor: col-resize;
}
:host.split-gutter.horizontal .handle {
  width: 8px;
  height: 40px;
}
:host.split-gutter:hover .handle {
  background-color: #566b73;
}