@use '@innomotics/ix/styles/colors';

:host {
  .input-container {
    height: 56px;
    padding: 0px 16px 0px 16px;
    margin: 2px;
    border: 1px solid colors.$primary-black;
    &.light {
      background-color: colors.$primary-white;
      color: colors.$primary-black;
      &:hover &.isactive {
        border: 2px solid colors.$primary-black;
        margin: 1px;
      }
    }

    &.focused {
      outline: colors.$blue-focus;
      outline-style: solid;
      outline-width: 2px;
      outline-offset: 2px;
      &.dark{
        border: 2px solid colors.$primary-yellow;
        margin: 1px;
      }
    }
    &.dark {
      background-color: colors.$primary-black;
      color: colors.$primary-white;
      &.isactive {
        border: 2px solid colors.$primary-yellow;
        margin: 1px;
      }
    }

    input {
      cursor: default;
      width: 100%;
      border: none;
      outline: none;
      margin-top: calc(56px - 30px);
      &.ligth {
        background-color: colors.$primary-white;
        color: colors.$primary-black;
      }
      &.dark {
        background-color: colors.$primary-black;
        color: colors.$primary-white;
      }
    }

    .label {
      left: auto;
      right: auto;
      z-index: 1;
      pointer-events: none;
      transition: 0.2s ease all;
      transform: translate(0rem, 1.2rem) scale(1);
      position: absolute;
    }
    .float {
      transform: translate(0rem, 0.5rem) scale(1);
      font-size: small;
    }
  }
}
