@use 'layoutmixins';
@use 'colors';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'InnomoticsHafferSQ';
  font-weight: normal;
  font-style: normal;
}

.be-main-grid {
  @include layoutmixins.be-main-grid;
  &.subgrid{
    @include layoutmixins.be-main-grid-36-columns;
  }

  .be-content-grid{
    @include layoutmixins.be-content-grid;
  }

  @include layoutmixins.be-columns;
}

table.inno-table {
  display: contents;
  font-family: 'InnomoticsHafferSQ';
  border-collapse: collapse;
  border-spacing: 0;
  color: colors.$text-light-highemphasis;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  table-layout: auto;
  width: 100%;

  tr {
    background-color: rgba(0, 0, 0, 0);
  }

  th,
  td {
    padding: 16px;
    min-width: 144px;
    line-height: 24.8px;
    text-align: left;
  }
  thead {
    background-color: rgba(0, 0, 0, 0);
    th {
      text-align: left;
      font-weight: 790;
      border-color: colors.$text-light-highemphasis;
      border-style: solid;
      border-width: 0px 0px 2px 0px;
      color: colors.$text-light-highemphasis;
      background-color: rgba(0, 0, 0, 0);
    }
    tr {
      border: none;
    }
  }
  tbody {
    th,
    td {
      border-color: colors.$transparency-light-200;
      border-style: solid;
      border-width: 0px 0px 1px 0px;
      color: colors.$text-light-highemphasis;
      background-color: rgba(0, 0, 0, 0);
      text-align: left;
    }
    tr {
      border: none;
    }
  }
  tr {
    font-weight: 430;
  }

  &.dark {
    color: colors.$text-dark-highemphasis;
    background-color: rgba(0, 0, 0, 0);
    thead {
      th {
        border-color: colors.$text-dark-highemphasis;
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        color: colors.$text-dark-highemphasis;
        background-color: rgba(0, 0, 0, 0);
        text-align: left;
      }
    }
    tbody {
      th,
      td {
        border-color: colors.$transparency-dark-200;
        border-style: solid;
        border-width: 0px 0px 1px 0px;
        color: colors.$text-dark-highemphasis;
        background-color: rgba(0, 0, 0, 0);
        text-align: left;
      }
      tr {
        border: none;
      }
    }
  }
}
