//divides the page into 36 equal columns
@mixin inno-main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr repeat(32, 40px) 1fr 1fr;
}

//creates a subgrid that has the middle 32 columns
@mixin inno-content-grid {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 3 / 35;
}

// creates a subgrid that uses all 36 columns of the main grid
@mixin full-main-grid() {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 37;
}


//using all the 32 middle columns
@mixin full-content-grid() {
    grid-column-start: 1;
    grid-column-end: 33;
    display: grid;
}
  