//divides the page into 36 equal columns
@mixin main-grid {
  display: grid;
  grid-template-columns: repeat(36, minmax(0, 1fr));
  grid-template-rows: repeat(3, auto);
}

// creates a subgrid that uses all 36 columns of the main grid
@mixin full-width() {
  display: grid;
  grid-column: 1 / 37;
  grid-template-columns: subgrid;
}

//creates a subgrid that has the middle 32 columns
@mixin content-columns {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 3 / 35;
}

//using all the 32 middle columns
@mixin full-content() {
    grid-column: 1 / 33;
  }
  