/////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Siemens IX scrollbar mixin copy
/// The color values are resolved and replaced directly.
///
/// Ref: https://github.com/siemens/ix/blob/main/packages/core/scss/mixins/_scrollbar.scss
/////////////////////////////////////////////////////////////////////////////////////////////////////////////

@mixin scrollbar() {
  ::-webkit-scrollbar-button {
    display: none;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #2a3b40;
  }

  ::-webkit-scrollbar-track:hover {
    background: #2a3b40;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #566b73;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #566b73;
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }
}
