:host {
  display: block;

  &.split-gutter {
    background-color: black;

    &.vertical {
      height: 8px;
      min-height: 8px;
      max-height: 8px;
      width: 100%;
      cursor: row-resize;
    }

    &.horizontal {
      width: 8px;
      min-width: 8px;
      max-width: 8px;
      height: 100%;
      cursor: col-resize;
    }
  }
}
