@use 'sass:map';
@forward '@innomotics/ix-fonts/dist/styles/index';

$colors: (
  color-primary: #e1f000,
  color-primary--contrast: #08191f,
  color-primary--hover: #d2e100,
  color-primary--active: #d2e100,
  color-primary--disabled: #006e934d,
  color-dynamic: #e1f000,
  color-dynamic--hover: #d2e100,
  color-dynamic--active: #d2e100,
  color-dynamic-alt: #00eaff,
  color-dynamic-alt--hover: #62e2ee,
  color-dynamic-alt--active: #5cd5e0,
  color-secondary: #ffffff,
  color-secondary--hover: #e4eaed,
  color-secondary--active: #b8edf2,
  color-component-1: #00000000,
  color-component-1--hover: #00000000,
  color-component-1--active: rgba(8, 25, 31, 0.2),
  color-component-2: #0012241c,
  color-component-3: #04142538,
  color-component-4: #9aacb4,
  color-component-5: #07121d73,
  color-component-6: #0b121999,
  color-component-7--hover: #00eaff,
  color-component-7: #00eaff33,
  color-component-7--active: #00def2,
  color-component-error: #fcccd0,
  color-component-info: #ccdefc,
  color-component-8--hover: #d1fbff,
  color-component-8: #ebf7f8,
  color-component-9: #0b5e65,
  color-component-9--hover: #005d66,
  color-component-9--active: #00464d,
  color-component-9--disabled: #0051594d,
  color-component-10: #005159bf,
  color-component-10--hover: #005d66bf,
  color-component-10--active: #00464dbf,
  color-component-10--disabled: #00515926,
  color-1--hover: #eff0f1,
  color-1--active: #e2e4e6,
  color-component-11: #d5dbe233,
  color-0: #ffffff00,
  color-1: #ffffff,
  color-2: #eff0f1,
  color-3: #e2e4e6,
  color-4: #d8dadd,
  color-5: #cfd2d5,
  color-6: #c8cbcf,
  color-7: #c2c6ca,
  color-8: #92979b,
  color-std-bdr: #0014284d,
  color-soft-bdr: #00142833,
  color-weak-bdr: #23303c26,
  color-x-weak-bdr: #aeb5bd33,
  color-focus-bdr: #199fff,
  color-contrast-bdr: #000000,
  color-alarm: #d72332,
  color-alarm--hover: #c11f2d,
  color-alarm--active: #b41d2a,
  color-alarm--contrast: #ffffff,
  color-alarm-40: #d7233266,
  color-alarm-10: #d723321a,
  color-warning: #b88d00,
  color-warning--hover: #a88100,
  color-warning--active: #9e7900,
  color-warning--contrast: #000000,
  color-warning-40: #b88d0066,
  color-warning-10: #b88d001a,
  color-critical: #e97101,
  color-critical--hover: #d06501,
  color-critical--active: #c15e01,
  color-critical--contrast: #000000,
  color-critical-40: #e9710166,
  color-success: #2c8500,
  color-success--hover: #277500,
  color-success--active: #246b00,
  color-success--contrast: #ffffff,
  color-success-40: #2c850066,
  color-info: #0041b1,
  color-info--hover: #003a9e,
  color-info--active: #003694,
  color-info--contrast: #ffffff,
  color-info-40: #0041b166,
  color-neutral: #66727e,
  color-neutral--hover: #5b6671,
  color-neutral--active: #545e68,
  color-neutral--contrast: #ffffff,
  color-neutral-40: #66727e66,
  color-contrast-text: #000000,
  color-std-text: #08191f,
  color-soft-text: #000a1499,
  color-weak-text: #e4eaed,
  color-inv-contrast-text: #ffffff,
  color-inv-std-text: #f5faffed,
  color-inv-soft-text: #e5f2ffa8,
  color-inv-weak-text: #dbedff66,
  color-alarm-text: #b81e3f,
  color-shadow-1: #0000001a,
  color-shadow-2: #00000033,
  color-shadow-3: #00000099,
  color-lightbox: #ffffffa6,
  color-backdrop: #ffffffd9,
  color-backdrop-3: #e3e5e8d9,
  color-logo: #000000,
);
$button-colors: (
  btn-primary--background: map-get($colors, color-primary),
  btn-primary--background--hover: map-get($colors, color-primary--hover),
  btn-primary--background--active: map-get($colors, color-primary--active),
  btn-primary--background--disabled: map-get($colors, color-component-4),
  btn-primary--color: map-get($colors, color-primary--contrast),
  btn-primary--color--hover: map-get($colors, color-primary--contrast),
  btn-primary--color--active: map-get($colors, color-primary--contrast),
  btn-primary--color--disabled: map-get($colors, color-primary--contrast),
  btn-primary--underline-color: map-get($colors, color-primary--contrast),
  btn-outline-primary--background: map-get($colors, color-secondary),
  btn-outline-primary--background--hover: map-get($colors, color-secondary--hover),
  btn-outline-primary--background--active: map-get($colors, color-secondary--active),
  btn-outline-primary--background--disabled: map-get($colors, color-ghost),
  btn-outline-primary--color: map-get($colors, color-primary),
  btn-outline-primary--color--hover: map-get($colors, color-dynamic),
  btn-outline-primary--color--active: map-get($colors, color-dynamic),
  btn-outline-primary--color--disabled: map-get($colors, color-weak-text),
  btn-outline-primary--underline-color: map-get($colors, color-primary--contrast),
  btn-primary--border-color: map-get($colors, color-ghost),
  btn-primary--border-color--hover: map-get($colors, color-ghost),
  btn-primary--border-color--active: map-get($colors, color-ghost),
  btn-primary--border-color--disabled: map-get($colors, color-ghost),
  btn-invisible-primary--background: map-get($colors, color-ghost),
  btn-invisible-primary--background--hover: map-get($colors, color-ghost--hover),
  btn-invisible-primary--background--active: map-get($colors, color-ghost--active),
  btn-invisible-primary--background--disabled: map-get($colors, color-ghost),
  btn-invisible-primary--color: map-get($colors, color-primary),
  btn-invisible-primary--color--hover: map-get($colors, color-dynamic),
  btn-invisible-primary--color--active: map-get($colors, color-dynamic),
  btn-invisible-primary--color--disabled: map-get($colors, color-weak-text),
  btn-secondary--background: map-get($colors, color-component-1),
  btn-secondary--background--hover: map-get($colors, color-component-1--hover),
  btn-secondary--background--active: map-get($colors, color-component-1--active),
  btn-secondary--background--disabled: map-get($colors, color-component-1),
  btn-secondary--color: map-get($colors, color-primary--contrast),
  btn-secondary--color--hover: map-get($colors, color-std-text),
  btn-secondary--color--active: map-get($colors, color-std-text),
  btn-secondary--color--disabled: map-get($colors, color-weak-text),
  btn-secondary--underline-color: map-get($colors, color-primary--contrast),
  btn-outline-secondary--background: map-get($colors, color-ghost),
  btn-outline-secondary--background--hover: map-get($colors, color-ghost--hover),
  btn-outline-secondary--background--active: map-get($colors, color-ghost--active),
  btn-outline-secondary--background--disabled: map-get($colors, color-ghost),
  btn-outline-secondary--border-color: map-get($colors, color-component-4),
  btn-outline-secondary--border-color--hover: map-get($colors, color-component-4),
  btn-outline-secondary--border-color--active: map-get($colors, color-component-4),
  btn-outline-secondary--border-color--disabled: map-get($colors, color-component-4),
  btn-outline-secondary--color: map-get($colors, color-soft-text),
  btn-outline-secondary--color--hover: map-get($colors, color-std-text),
  btn-outline-secondary--color--active: map-get($colors, color-std-text),
  btn-outline-secondary--color--disabled: map-get($colors, color-weak-text),
  btn-outline-secondary--underline-color: map-get($colors, color-primary--contrast),
  link-btn--color: map-get($colors, color-primary),
  link-btn--color--hover: map-get($colors, color-dynamic),
  link-btn--color--active: map-get($colors, color-dynamic),
  link-btn--border-color: map-get($colors, color-ghost),
  link-btn--border-color--hover: map-get($colors, color-ghost),
  link-btn--border-color--active: map-get($colors, color-ghost),
  link-btn--color--visited: map-get($colors, color-primary),
  link-btn--border-color--visited: map-get($colors, color-ghost),
  link-btn--border-color--disabled: map-get($colors, color-ghost),
  link-btn--color--disabled: map-get($colors, color-weak-text),
  avatar-btn--background: map-get($colors, color-ghost),
  avatar-btn--background--hover: map-get($colors, color-ghost--hover),
  avatar-btn--background--active: map-get($colors, color-ghost--active),
  avatar-btn--color: map-get($colors, color-std-text),
  avatar-btn--color--hover: map-get($colors, color-std-text),
  avatar-btn--color--active: map-get($colors, color-std-text),
  menu-btn--color: map-get($colors, color-std-text),
  menu-btn--color--hover: map-get($colors, color-std-text),
  menu-btn--color--active: map-get($colors, color-std-text),
  menu-btn--background: map-get($colors, color-ghost),
  menu-btn--background--hover: map-get($colors, color-ghost--hover),
  menu-btn--background--active: map-get($colors, color-ghost--active),
  btn-secondary--border-color: map-get($colors, color-0),
  btn-secondary--border-color--hover: map-get($colors, color-0),
  btn-secondary--border-color--active: map-get($colors, color-0),
  btn-secondary--border-color--disabled: map-get($colors, color-0),
  btn-outline-primary--border-color: map-get($colors, color-primary),
  btn-outline-primary--border-color--hover: map-get($colors, color-dynamic),
  btn-outline-primary--border-color--active: map-get($colors, color-dynamic),
  btn-outline-primary--border-color--disabled: map-get($colors, color-component-4),
  table-selection--border-color: map-get($colors, color-0),
);
