@use '../../../../styles/colors' as colors;

:host {
  height: 400px;
  width: 280px;
  display: flex;
  flex-direction: column;
  background-color: colors.$secondary-900;
}

@media screen and (max-width: 800px) {
  :host {
    width: 100%;
  }
}

.title-container {
  height: 64px;
  padding: 24px 30px 24px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: colors.$primary-300;
  font-size: 12px;
  line-height: 18px;
}

.title-entry {
}

.picker-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
}

.entry {
  width: 36px;
  height: 36px;
  background-color: transparent;
  color: colors.$primary-300;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  line-height: 25px;
  font-family: 'InnomoticsHafferSQ';
  font-weight: 200;

  &.active {
    background-color: colors.$primary-100;
    color: colors.$primary-200;
    font-weight: 800;
  }

  &:hover {
    background-color: colors.$secondary-300;
    color: colors.$primary-200;
  }
}

.column-container {
  overflow-y: scroll;
  max-height: 240px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.column {
  &::-webkit-scrollbar {
    display: none;
  }
}

.confirm-container {
  height: 96px;
  padding: 24px;
  padding-bottom: 12px; // inno-buttom bottom margin
  display: flex;
  justify-content: center;
  align-items: center;

  & inno-button,
  & inno-button > button {
    width: 100% !important;
  }
}
