:host {
  display: block;
  position: relative;
  width: 380px;
}
:host .hidden {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .selector {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100%;
  padding: 0.25rem 1rem;
  color: #e1f000;
  font-size: 20px;
  font-family: "InnomoticsHafferSQ";
  cursor: pointer;
}
.header .navigation {
  color: #ffffff;
  cursor: pointer;
}

.dropdown {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
  display: none;
  position: absolute;
  z-index: 15;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 12px 18px 0 rgba(0, 0, 0, 0.1);
  background-color: #2a3b40;
  color: #ffffff;
  font-family: "InnomoticsHafferSQ";
  font-size: 14px;
  line-height: 20px;
}
.dropdown ::-webkit-scrollbar-button {
  display: none;
}
.dropdown ::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
.dropdown ::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #2a3b40;
}
.dropdown ::-webkit-scrollbar-track:hover {
  background: #2a3b40;
}
.dropdown ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #566b73;
}
.dropdown ::-webkit-scrollbar-thumb:hover {
  background: #566b73;
}
.dropdown ::-webkit-scrollbar-corner {
  display: none;
}
.dropdown.show {
  display: block;
}
.dropdown .wrapper {
  display: flex;
}
.dropdown .wrapper .overflow {
  overflow-y: scroll;
  max-height: 250px;
}
.dropdown .month-dropdown-item {
  margin-left: 4px;
  margin-right: 4px;
  text-wrap: nowrap;
}
.dropdown .month-dropdown-item:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}
.dropdown .disabled-item {
  pointer-events: none;
  background-color: #566b73;
  color: #08191f;
  cursor: default;
}

.arrowYear {
  display: flex;
  position: relative;
  padding: 0.75rem 2rem;
  align-items: center;
  cursor: pointer;
}
.arrowYear:hover {
  background-color: #40545b;
}
.arrowYear.selected {
  background-color: #566b73;
}
.arrowYear .arrowPosition {
  position: absolute;
  left: calc(1rem - 6px);
  top: 31%;
}
.arrowYear .checkPosition {
  position: absolute;
  left: calc(1rem - 6px);
  top: calc(50% - 8px);
}
.arrowYear .monthMargin {
  margin-left: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(7, 40px);
  align-items: center;
  justify-items: center;
  justify-content: center;
  row-gap: 8px;
  color: #ffffff;
}
.grid .calendar-item {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}
.grid .calendar-item:focus-visible {
  outline: 1px solid #6d818a;
  outline-offset: 1px;
}
.grid .calendar-item.outer-day {
  color: #b2c1c7;
}
.grid .calendar-item.today {
  border: 2px solid #ffffff;
}
.grid .calendar-item.today:hover {
  background-color: #b2c1c7;
}
.grid .calendar-item.today:active {
  background-color: #e1f000;
}
.grid .calendar-item.today.selected.disabled {
  pointer-events: none;
  color: #08191f;
}
.grid .calendar-item.today.range {
  background-color: #40545b;
  color: #ffffff;
}
.grid .calendar-item.today.range:hover {
  background-color: #b2c1c7;
}
.grid .calendar-item.today.range:active {
  background-color: #e1f000;
}
.grid .calendar-item.today.range.disabled {
  color: #08191f;
}
.grid .calendar-item.today.disabled {
  pointer-events: none;
  color: #08191f;
  cursor: default;
}
.grid .calendar-item:hover {
  background-color: #b2c1c7;
  color: #08191f;
}
.grid .calendar-item:active {
  background-color: #e1f000;
  color: #08191f;
}
.grid .calendar-item.selected {
  background-color: #e1f000;
  color: #08191f;
}
.grid .calendar-item.selected:hover {
  background-color: #e1f000;
}
.grid .calendar-item.selected:active {
  background-color: #e1f000;
}
.grid .calendar-item.selected.disabled {
  pointer-events: none;
  background-color: #2a3b40;
  color: #08191f;
}
.grid .calendar-item.range {
  background-color: #40545b;
  color: #ffffff;
}
.grid .calendar-item.range:hover {
  background-color: #b2c1c7;
  color: #ffffff;
}
.grid .calendar-item.range:active {
  background-color: #40545b;
  color: #ffffff;
}
.grid .calendar-item.range.disabled {
  pointer-events: none;
  color: #08191f;
}
.grid .calendar-item.disabled {
  pointer-events: none;
  color: #08191f;
}
.grid .calendar-item.week-day {
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  border: none;
  background: none;
  cursor: initial;
}
.grid .calendar-item.empty-day {
  border: none;
  background: none;
  cursor: initial;
}
.grid .calendar-item.week-number {
  font-size: 12px;
  line-height: 14px;
  color: #b2c1c7;
  border: none;
  background: none;
  cursor: initial;
}
.grid .calendar-item:focus-visible {
  border: inset 1px solid #40545b;
}

.button {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  :host {
    width: 100%;
  }
}