@mixin default() {
    ::-webkit-scrollbar-button {
      display: none;
    }
  
    /* width */
    ::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
    }
  
    /* Track */
    ::-webkit-scrollbar-track {
      border-radius: 5px;
      background: var(--theme-scrollbar-track--background);
    }
  
    ::-webkit-scrollbar-track:hover {
      background: var(--theme-scrollbar-track--background--hover);
    }
  
    /* Handle */
    ::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: var(--theme-scrollbar-thumb--background);
    }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--theme-scrollbar-thumb--background--hover);
    }
  
    ::-webkit-scrollbar-corner {
      display: none;
    }
  }