@use '../../../styles/colors' as colors;

:host {
  display: block;
  position: relative;
  width: 100%;
  max-width: 380px;
  height: 56px;
}

.picker {
  width: 100%;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  font-size: 16px;
  font-family: 'InnomoticsHafferSQ';

  cursor: pointer;

  &.light {
    border: 1px solid colors.$secondary-400;
    color: colors.$secondary-800;
  }

  &.dark {
    border: 1px solid colors.$secondary-400;
    background-color: colors.$primary-200;
    color: colors.$secondary-300;
  }

  .picker-label--hasvalue {
    position: absolute;
    top: 6px;
    left: 16px;
    font-size: 12px;
  }

  .picker-value {
    position: relative;
    top: 7px;
  }

  .picker-icon {
    margin-left: auto;

    &.light {
      color: colors.$primary-200;
    }

    &.dark {
      color: colors.$primary-300;
    }
  }
}

.dropdown-container {
  display: none;
  z-index: 10;
  position: fixed;
}

.show {
  display: block;
}