@use '../../../styles/colors' as colors;

:host {
  display: block;
  position: relative;
  width: 380px;
  height: 56px;
}

.picker {
  width: 380px;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;

  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 16px;
  font-family: 'InnomoticsHafferSQ';

  cursor: pointer;

  &.light {
    border: 1px solid colors.$secondary-400;
    color: colors.$secondary-800;
  }

  &.dark {
    border: 1px solid colors.$secondary-400;
    color: colors.$secondary-800;
  }

  .picker-icon {
    margin-left: auto;
  }
}

.dropdown-container {
  display: none;
  z-index: 10;
  position: absolute;
}

.show {
  display: block;
}
