@use '@innomotics/ix/styles/colors';

$checkbox-size: 20px;
$border-size: 1px;

@mixin checkmark-base {
  width: 4px;
  height: 2px;
  display: block;
  position: absolute;
  border-top: none;
  border-right: none;
  border-bottom-width: 0.0825rem;
  border-bottom-style: solid;
  border-left-width: 0.0825rem;
  border-left-style: solid;
  transform: translate(0.5px, -1px) rotate(-53deg) scale(2) skew(-8deg, -3deg);
}

:host {
  height: 25px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 300;
  font-style: normal;

  // Remove focus default style
  outline-width: 0;
}

.checkbox {
  width: $checkbox-size;
  height: $checkbox-size;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.focus {
    outline: $border-size solid colors.$focus-100;
    outline-offset: 2px;
  }

  &.light {
    background-color: colors.$primary-300;
    border: $border-size solid colors.$primary-200;
  }

  &.dark {
    background-color: colors.$primary-200;
    border: $border-size solid colors.$primary-300;
  }

  &:hover {
    &.light {
      background-color: colors.$primary-300;
      border: $border-size solid colors.$secondary-600;
    }

    &.dark {
      background-color: colors.$primary-200;
      border: $border-size solid colors.$secondary-400;
    }
  }

  &:active {
    &.light {
      background-color: colors.$primary-300;
      border: $border-size solid colors.$secondary-600;
    }

    &.dark {
      background-color: colors.$primary-200;
      border: $border-size solid colors.$secondary-400;
    }
  }

  &.error {
    &.light {
      background-color: colors.$primary-300;
      border: $border-size solid colors.$error-200;
    }

    &.dark {
      background-color: colors.$primary-200;
      border: $border-size solid colors.$error-100;
    }
  }

  &.readonly {
    cursor: none;

    &.light {
      background-color: colors.$primary-300;
      border: 1px solid colors.$secondary-400;
    }

    &.dark {
      background-color: colors.$primary-200;
      border: $border-size solid colors.$secondary-300;
    }
  }

  &.disabled {
    cursor: none;

    &.light {
      background-color: colors.$primary-300;
      border: 1px solid colors.$secondary-400;
    }

    &.dark {
      background-color: colors.$primary-200;
      border: $border-size solid colors.$secondary-300;
    }
  }

  &.checked {
    &.light {
      background-color: colors.$primary-200;
      border: 1px solid colors.$primary-200;
    }

    &.dark {
      background-color: colors.$primary-100;
      border: $border-size solid colors.$primary-200;
    }

    &:hover {
      &.light {
        background-color: colors.$secondary-600;
        border: $border-size solid colors.$secondary-600;
      }

      &.dark {
        background-color: colors.$secondary-300;
        border: $border-size solid colors.$secondary-300;
      }
    }

    &.error {
      &.light {
        background-color: colors.$primary-200;
        border: $border-size solid colors.$primary-200;
      }

      &.dark {
        background-color: colors.$primary-100;
        border: $border-size solid colors.$primary-100;
      }
    }

    &:active {
      &.light {
        background-color: colors.$secondary-600;
        border: $border-size solid colors.$secondary-600;
      }

      &.dark {
        background-color: colors.$secondary-300;
        border: $border-size solid colors.$secondary-300;
      }
    }

    &.readonly {
      cursor: none;

      &.light {
        background-color: colors.$primary-300;
        border: $border-size solid colors.$primary-300;
      }

      &.dark {
        background-color: colors.$primary-200;
        border: $border-size solid colors.$primary-200;
      }
    }

    &.disabled {
      cursor: none;

      &.light {
        background-color: colors.$secondary-200;
        border: $border-size solid colors.$secondary-200;
      }

      &.dark {
        background-color: colors.$secondary-800;
        border: $border-size solid colors.$secondary-800;
      }
    }
  }
}

.checksign {
  @include checkmark-base;

  display: none;

  &.checked {
    display: unset;

    &.light {
      border-bottom-color: colors.$primary-300;
      border-left-color: colors.$primary-300;
    }

    &.dark {
      border-bottom-color: colors.$primary-200;
      border-left-color: colors.$primary-200;
    }

    &:hover {
      &.light {
        border-bottom-color: colors.$primary-300;
        border-left-color: colors.$primary-300;
      }

      &.dark {
        border-bottom-color: colors.$primary-200;
        border-left-color: colors.$primary-200;
      }
    }

    &:active {
      &.light {
        border-bottom-color: colors.$primary-300;
        border-left-color: colors.$primary-300;
      }

      &.dark {
        border-bottom-color: colors.$primary-200;
        border-left-color: colors.$primary-200;
      }
    }

    &.readonly {
      cursor: none;

      &.light {
        border-bottom-color: colors.$primary-200;
        border-left-color: colors.$primary-200;
      }

      &.dark {
        border-bottom-color: colors.$primary-300;
        border-left-color: colors.$primary-300;
      }
    }

    &.error {
      &.light {
        border-bottom-color: colors.$primary-300;
        border-left-color: colors.$primary-300;
      }

      &.dark {
        border-bottom-color: colors.$primary-200;
        border-left-color: colors.$primary-200;
      }
    }

    &.disabled {
      cursor: none;

      &.light {
        border-bottom-color: colors.$secondary-400;
        border-left-color: colors.$secondary-400;
      }

      &.dark {
        border-bottom-color: colors.$secondary-400;
        border-left-color: colors.$secondary-400;
      }
    }
  }
}

.label {
  font-size: 16px;
  cursor: pointer;
  margin-left: 12px;

  &.light {
    color: colors.$primary-200;
  }

  &.dark {
    color: colors.$primary-300;
  }

  &.required {
    &::after {
      content: '*';
    }
  }

  &.error {
    &.light {
      color: colors.$error-200;
    }

    &.dark {
      color: colors.$error-100;
    }
  }

  &.readonly {
    cursor: none;

    &.light {
      color: colors.$primary-200;
    }

    &.dark {
      color: colors.$secondary-400;
    }
  }

  &.disabled {
    cursor: none;

    &.light {
      color: colors.$secondary-400;
    }

    &.dark {
      color: colors.$secondary-400;
    }
  }

  &.checked {
    &.error {
      &.light {
        color: colors.$primary-200;
      }

      &.dark {
        color: colors.$primary-300;
      }
    }
  }
}

// Currently not implemented should not be deleted
.indeterminate {
  display: block;
  width: 0.625rem;
  height: 0.125rem;
  border-bottom: 0.125rem solid colors.$primary-300;
  position: absolute;
  margin: 6px 0 0 0.25rem;
}
