:host {
  display: block;

  margin-bottom: 32px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 800px) {
  :host {
    margin-bottom: 0;
    margin-right: 32px;
  }
}
