@use '@innomotics/ix/styles/colors';

@mixin labels {
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  text-decoration: underline;
}

:host {
  display: block;
  cursor: pointer;

  &.light :where(::slotted(a), ::slotted(p), ::slotted(inno-icon)) {
    @include labels;

    // Paragraph has an implicit relative start and block margin
    margin-block-start: 0;
    margin-block-end: 0;
    color: colors.$primary-200;

    &:hover {
      color: colors.$primary-200;
    }
  }

  &.dark :where(::slotted(a), ::slotted(p), ::slotted(span), ::slotted(inno-icon)) {
    @include labels;

    margin-block-start: 0;
    margin-block-end: 0;
    color: colors.$primary-300;

    &:hover {
      color: colors.$primary-300;
    }
  }
}

@media screen and (min-width: 768px) {
  :host {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &.light :where(::slotted(a), ::slotted(p), ::slotted(span), ::slotted(inno-icon)) {
      color: colors.$primary-200;

      &:hover {
        color: colors.$primary-200;
      }
    }

    &.dark :where(::slotted(a), ::slotted(p), ::slotted(span), ::slotted(inno-icon)) {
      color: colors.$primary-300;

      &:hover {
        color: colors.$primary-300;
      }
    }
  }
}
