$primary-100: #e1f000;
$primary-200: #08191f;
$primary-300: #ffffff;

$secondary-50: #f1f4f6;
$secondary-100: #e4eaed;
$secondary-200: #cad5da;
$secondary-300: #b2c1c7;
$secondary-400: #9aacb4;
$secondary-500: #83979f;
$secondary-600: #6d818a;
$secondary-700: #566b73;
$secondary-800: #40545b;
$secondary-900: #2a3b40;

$charts-100: #86a3ff;
$charts-200: #6060f9;
$charts-300: #ddabff;
$charts-400: #cc68fa;
$charts-500: #4ed69b;
$charts-600: #009b6a;

$error-100: #f68181;
$error-200: #cb0e0e;
$warning-100: #ff853f;
$warning-200: #e96401;
$success-100: #4ed69b;
$success-200: #007f57;
$internal-100: #ddabff;
$internal-200: #c263ed;
$focus-100: #1491eb;

$backdrop: #00000099;

$text-light-highemphasis: $primary-200;
$text-light-lowemphasis: $secondary-800;
$text-light-buttonlabel: $primary-300;

$interaction-light-default: $primary-200;
$interaction-light-hover: $secondary-800;
$interaction-light-pressed: $secondary-900;
$interaction-light-visited: $secondary-800;
$interaction-light-disabled: $secondary-400;
$interaction-light-focus: $focus-100;

$highlight-light-100: $primary-200;
$highlight-light-200: $primary-100;

$background-light-100: $primary-100;
$background-light-200: $primary-300;
$background-light-300: $secondary-50;

$additional-light-100: $secondary-100;
$additional-light-200: $secondary-200;
$additional-light-300: $secondary-400;
$additional-light-400: $secondary-900;

$status-light-error: $error-200;
$status-light-success: $success-200;
$status-ligth-warning: $warning-200;
$status-light-internal: $internal-200;

$transparency-light-100: rgba($primary-200, 0.05);
$transparency-light-200: rgba($primary-200, 0.2);


$text-dark-highemphasis: $primary-300;
$text-dark-lowemphasis: $secondary-300;
$text-dark-buttonlabel: $primary-200;

$interaction-dark-default: $primary-300;
$interaction-dark-hover: $secondary-400;
$interaction-dark-pressed: $secondary-500;
$interaction-dark-visited: $secondary-300;
$interaction-dark-disabled: $secondary-400;
$interaction-dark-focus: $focus-100;

$highlight-dark-100: $primary-100;
$highlight-dark-200: $primary-200;

$background-dark-100: $primary-100;
$background-dark-200: $primary-200;
$background-dark-300: $secondary-50;

$additional-dark-100: $secondary-100;
$additional-dark-200: $secondary-800;
$additional-dark-300: $secondary-400;
$additional-dark-400: $primary-100;

$status-dark-error: $error-100;
$status-dark-success: $success-100;
$status-dark-warning: $warning-100;
$status-dark-internal: $internal-100;

$transparency-dark-100: rgba($primary-300, 0.1);
$transparency-dark-200: rgba($primary-300, 0.4);