@use '@innomotics/ix/styles/colors';

$bar-active-height: 8px;

@mixin scrollbar() {
  ::-webkit-scrollbar-button {
    display: none;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #eff0f1;
  }

  ::-webkit-scrollbar-track:hover {
    background: #e2e4e6;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #cfd2d5;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c2c6ca;
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }
}

:host {
  @include scrollbar();

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  height: 60px;
  padding: 16px 16px 16px 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  line-height: 25px;
  font-size: 16px;
  font-weight: bold;

  background-color: colors.$primary-200;
  color: colors.$secondary-300;
  font-family: 'InnomoticsHafferSQ-Bold';

  ::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: colors.$primary-300;
    opacity: 0.4;
    transition: height 300ms cubic-bezier(0.84, 0, 0.58, 1);
  }

  .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    span,
    span::before {
      pointer-events: none;
    }

    vertical-align: middle;
  }

  .hidden {
    display: none;
  }
}

:host(:focus-visible) {
  outline-width: 0px;
}

:host(.stretched) {
  flex-basis: 100%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:host(:hover) {
  background-color: colors.$primary-200;
  color: colors.$secondary-300;
  cursor: pointer;

  ::after {
    height: $bar-active-height;
    opacity: 1;
    background-color: colors.$secondary-300;
  }
}

:host(:active) {
  background-color: colors.$primary-200;
  color: colors.$primary-100;

  ::after {
    height: $bar-active-height;
    opacity: 1;
    background-color: colors.$primary-100;
  }
}

:host(.disabled) {
  pointer-events: none;
  color: colors.$secondary-800;
  background-color: colors.$primary-200;

  ::after {
    opacity: 1;
    background-color: colors.$secondary-800;
  }
}

:host(.selected:not(.disabled)) {
  background-color: colors.$primary-200;
  color: colors.$primary-100;

  ::after {
    height: $bar-active-height;
    opacity: 1;
    background-color: colors.$primary-100;
  }
}
